---
---
/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.label {
padding:2px;
}
.badge {
padding:2px;
}

.jumbotron {
 background-image:url('{{ site.url }}/img/fireAntMicroarrays.jpg');
 background-repeat: no-repeat; 
 /* height:202px;  width:900px;*/
/* width: 1070px;
 height: 240px;*/
 background-size: cover;
 background-postion: right;
 /* border: 1px solid #2c3e50;
 border-top: 0; */
 font-weight: bold;
}

.jumbotron h1 {
  padding-left: 10px;
  padding-top: 10%;
  padding-bottom: 0px;
  margin-bottom:0;
  letter-spacing: -1px;
}

.jumbotron h2 {
  padding-left: 10px;	
  padding-top: -10;
  margin-top: 0;
}

ul.buttons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    float:left;
}

img.floatLeft {
    float: left;
    margin: 4px 8px 4px 0px;
}

img.img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* Next/Prev pager */
.pager a {
  position:fixed;
  top:50%;
  z-index:101;
  margin-top:-30px;
  padding:20px 5px;
  height:20px;
  width:20px;
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  transition:background-color .2s;
  -moz-transition:background-color .2s;
  -webkit-transition:background-color .2s;
  }

.publication p {
 margin-bottom: 0.3em;
 text-align:justify;
 display: block;
 padding-left: 30px;
 text-indent: -30px;
}

.publication span {
 text-indent: 3px;
}



.pager a.prev {
  left:0%;
  border-radius:0px 3px 3px 0px;
}

.pager a.next {
  right:0%;
  border-radius:3px 0px 0px 3px;
}

.pager a { background-color:#444444; }
.pager a:hover { background-color:#222222; }
.pager .icon.prev { background-position:-80px -90px; }
.pager .icon.next { background-position:-100px -90px; }
.pager a:hover .icon.prev { background-position:-80px -70px; }
.pager a:hover .icon.next { background-position:-100px -70px; }
.pager .icon-arrow-left { position: fixed; left: 0; }
.pager .icon-arrow-right { position: fixed; }

.question {
font-style: italic;
text-align:justify;
padding: 10px;
margin-left:100px;
background-color: rgb(29, 210, 175);
}

@media (max-width: 480px) { 
  .jumbotron h1 {
    font-size: 28px;
    padding-top: 0;
  }
  .jumbotron h2 {
    font-size: 21px;
  }
}


p, ol, li {
  padding-left:5px;
}

[class^="icon-"], [class*=" icon-"], [class^="fa-"] {
  padding-right: 3px;
}
