---
layout: page
title: Team of amazingly wonderful social insect genome hackers.

members:
- name: "Yannick Wurm"
  img: yannickwurm.jpg
  about: "Strong interests in evolutionary genomics, social evolution, modern bioinformatics and genomics approaches, elegant software. [<a href='/cvYannickWurm.pdf'>2-page Curriculum Vitae PDF</a>]. Some <a href='/talks'>invited talks</a>, <a href='/teaching/'>teaching material</a> and <a href='/#publications'>publications</a>. [<a href='https://twitter.com/yannick__'>Twitter</a>]"
- name: <a href="/team/priyam">Anurag Priyam</a>
  img: anuragpriyam.jpg
  about: 'PhD student. Interested in genome evolution, gene expression, and user-centric research software development. Lead developer of <a href="http://www.sequenceserver.com">SequenceServer (BLAST server)</a>, <a href="https://github.com/wurmlab/oswitch">oswitch (virtual environments for reproducible analyses)</a>, <a href="https://github.com/wurmlab/afra">Afra (crowd-sourced curation of gene models)</a>. [<a href="https://twitter.com/yeban">Twitter</a>] [<a href="/team/priyam">Personal page</a>]'
- name: <a href='/team/magdalena'>Magdalena Ines Schacht</a>
  img: magdalena.jpg
  about: "QMUL funded PhD stundent. I am studying the evolution and development of sensory organs in arthropods. MSc Developmental, Neural and Behavioural Biology Georg-August-University of Göttingen; BSc Biology Georg-August-University of Göttingen."
- name: Marian Karl Priebe
  img: marian.jpg
  about: '<a href="http://lido-dtp.ac.uk/">LIDO BBSRC</a> funded PhD student. I am studying how to infer gene function for emerging model organisms. MSc Bioinformatics, QMUL; BA Natural Science, University of Cambridge. [<a href="https://twitter.com/mariankpriebe">Twitter</a>]'
- name: Raphaella Jackson
  img: raphaella.jpg
  about: "QMUL funded PhD student. Investigating the genomic basis of host-symbiont dependency in ants. BSc in Genetics (University of Georgia), BA in French (University of Georiga), MSc in Bioinformatics (Queen Mary University of London)."
- name: Federico López-Osorio
  img: federicolopezosorio.jpg
  about: "Postdoctoral researcher. Evolutionary genomics of social wasps and bumblebees."
- name: Anindita Brahma
  img: anindita.jpg
  about: 'Marie Sklodowska-Curie postdoctoral fellow. Interested in the evolution of social behaviour in ants and social wasps. [<a href="https://twitter.com/aninditaces">Twitter</a>] [<a href="https://scholar.google.com/citations?hl=en&user=l6w9K6QAAAAJ&view_op=list_works&sortby=pubdate">Google scholar</a>]'
- name: Iwo Pieniak
  img: iwo.jpeg
  about: "MSc Bioinformatics student. Working on implementation of new features to the SequenceServer. MSc Genomic Medicine, University of Southampton."
- name: <a href='/team/ghernandez'>Gabriel Hernandez-Gomez</a>
  img: ghernandez.jpg
  about: "Queen Mary University of London PhD student co-funded by Colfuturo. I am interested in answering evolutionary questions through the understanding of genomes. I studied chordates immune system in the past and now I am happy to explore the fire ants and their supergene."

occasional_visitors:
- name: <a href="/team/jcolgan">Joe Colgan </a>
  img: joecolgan.jpg
  about: "Postdoctoral researcher interested in examining how organisms respond to environmental stressors through the use of genomic, molecular and computational techniques. [<a href='https://scholar.google.com/citations?user=g5BZ5IIAAAAJ&hl=en'>Google Scholar</a>] [<a href='https://www.researchgate.net/profile/Thomas_Colgan'>Researchgate</a>]. Now Postdoc @ Cork."
- name: Fabio Manfredini
  img: fabiomanfredini.jpg
  about: "Postdoc with Elli Leadbeater."

alumni:
- name: <a href="/team/rpracana">Rodrigo Pracana</a>
  img: rodrigopracana.jpg
  about: "Queen Mary University of London funded doctoral student, studying the evolution of the fire ant's social chromosome system. Interested in genome evolution and population genetics. [<a href='https://scholar.google.co.uk/citations?user=yG7_PpIAAAAJ&hl=en'>Scholar</a>] [<a href='https://in.linkedin.com/in/rodrigo-pracana'>LinkedIn</a>] [<a href='http://orcid.org/0000-0003-2492-4067'>ORCID</a>] [<a href='https://twitter.com/RoddyPracana'>Twitter</a>]. Now Postdoc with Peter Holland at Oxford."
- name: Kishor Dhaygude
  img: kishordhaygude.jpg
  about: "<a href='http://www.helsinki.fi/science/ants/Antzz.html'>Helsinki team ANTZZ</a>-based occasional visitor to the lab.  Now Bioinformatician (Clinical Research Data Analyst) - University of Helsinki."
- name: Gino Brignoli
  img: gino-brignoli.jpg
  about: "Postgraduate research assistant studying the evolution of social structures in the Yellow Meadow Ant. Interests include eco-evolutionary dynamics, conservation science and taxonomy. MSc Ecology &amp; Evolutionary Biology, QMUL; BSc Biodiversity &amp; Conservation, Birkbeck. [<a href='https://twitter.com/ginobrignoli'>Twitter</a>] [<a href='https://www.linkedin.com/in/gino-brignoli/'>LinkedIn</a>]. Now PhD student on NERC DTP."
- name: <a href='/team/bmpvieira.html'>Bruno Vieira</a>
  img: bmpvieira.jpg
  about: "Queen Mary University of London funded doctoral student. Interested in Bioinformatics, Genomics and Web Development. Founder of <a href='http://bionode.io'>bionode.io</a>. [<a href='http://bmpvieira.com'>Website</a>] [<a href='https://github.com/bmpvieira'>GitHub</a>] [<a href='http://twitter.com/bmpvieira'>Twitter</a>] [<a href='https://medium.com/@bmpvieira'>Blog</a>] [<a href='/team/bmpvieira.html'>Personal Page</a>]. Now data scientist at Resurgo genetics."
- name: <a href='/team/lrsantiago'>Leandro Rodrigues Santiago</a>
  img: leandrorodrigues.jpg
  about: "MSc Genetics, Universidade de São Paulo (2013), Brazil. PhD student at QMUL, funded by Science Without Borders, CNPq, Brazil. Research interests: population genetics, molecular biology, epigenetics and bioinformatics. [<a href='http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4711309D3&idiomaExibicao=2'>Curriculum Vitae</a>]. Now Bioinformatician Postdoc at William Harvey Research Institute"
- name: Ilya Levantis
  img: ilyalevantis.jpg
  about: QMUL Intern 2015-16. Now Lido BBSRC DTP PhD student. Interested in evolution, and bioinformatics. Director of <a href='http://biohackspace.org/'>London Biohackspace</a> in spare time. [<a href='https://twitter.com/MouldGod'>Twitter</a>]
- name: Ismail Moghul
  img: IsmailM.jpg
  about: Bioinformatics Masters Student. Now Lido BBSRC DTP PhD student. Interested in Bioinformatics, Genetics underlying Biomedical Diseases and Neurobiology. [<a href="https://github.com/IsmailM">GitHub</a>]
- name: Isabel Fletcher
  img: bumblebee.jpg
  about: "<a href='http://lido-dtp.ac.uk/'>LIDO BBSRC</a>-funded rotation PhD student (placement). Now PhD student at London School of Hygiene and Tropical Medecine. "
- name: <a href='/team/eagomezc'>Esteban Alberto Gomez Cifuentes</a>
  img: Esteban.jpg
  about: "MSc Bioinformatics student from QMUL. I am studying the balancing selection in insects and the use of different methodologies to identify it. Now Bioinformatician at the Lipid Mediator Unit of the William Harvey Research Institute"
- name: <a href='/team/efavreau/index.html'>Emeline Favreau</a>
  img: emelinefavreau.jpg
  about: '<a href="http://www.nerc.ac.uk/">NERC</a>-funded doctoral student from <a href="http://london-nerc-dtp.org/">London DTP</a>. Insect evolution, social adaptation, bioinformatics. [<a href="https://twitter.com/EmelineFavreau">Twitter</a>] [<a href="/team/efavreau/Emeline_Favreau_cv.pdf">Curriculum Vitae PDF</a>] [<a href="https://emelinefavreau.github.io/">Website</a>]'
- name: <a href='/team/cmartinezruiz/index.html'>Carlos Martinez Ruiz</a>
  img: Carlos.jpg
  about: "BSc University of Valencia, Spain; MSc Ecology and Evolutionary Biology QMUL. Current PhD student funded by the London NERC DTP. Using the genetic structure underlying social polymorphism in ants as an independent test of our understanding on sexual chromosome evolution. [<a href='http://london-nerc-dtp.org/profile/MartinezC/'>DTP profile</a>] [<a href='https://twitter.com/CarlosEcolEvol'>Twitter</a>]"
- name: <a href='/team/estolle.html'>Eckart Stolle</a>
  img: peopleresized/eckartstolle.jpg
  about: "Postdoc (<a href='http://ec.europa.eu/research/mariecurieactions/' target='_blank'>Marie Curie IEF</a>) interested in the mechanisms underlying evolution of genomes, chromosomes and genes in relation to behavior, castes and sociality. [<a href='https://scholar.google.com/citations?hl=de&user=p9qDNAYAAAAJ&view_op=list_works&pagesize=100' target='_blank'>Google Scholar</a>] [<a href='http://orcid.org/0000-0001-7638-4061' target='_blank'>ORCID</a>] [<a href='/team/estolle.html'>Personal page</a>]. Now junior group leader at Halle."
- name: Natalia Araujo
  img: peopleresized/nataliaaraujo.jpg
  about: "PhD student visitor from <a href='http://scholar.google.com/citations?user=DGM0c74AAAAJ&hl=en'>Cristina Arias</a>' lab at University of Sao Paolo. Now staff scientist at Evolutionary Biology and Ecology Unit, Universit&eactue; Libre de Bruxelles."
- name: Catherine Okuboyejo
  img: catherine.jpg
  about: "MSc Bioinformatics student. Investigating unique features of newly sequenced genomes. BSc Biochemistry, University of Surrey."
- name: Valentine Patterson
  img: val_pic.jpg
  about: "Msc Ecology and Evolutionary Genomics student at QMUL, studying the molecular diagnostics of pollinator health. "
- name: Richard Burns
  img: RichardB.jpg
  about: "MSc Bioinformatics student. BSc Biology graduate from University of Northampton. Working on individual-based forward genetic evolutionary simulations in haplodiploids"
- name: Margot Hamelin
  img: Margot.jpg
  about: "Engineering student in Biosciences and Biotechnologies at INSA de Lyon, France. Studying genotyping methods."

project_students:
- name: Hiten Chowdhary (Google Summer of Code 2016, 2017)
- name: Abdoulie Kanteh (QMUL Masters Project 2017)
  about: Now Higher Scientific Officer at MRC Unit The Gambia at LSHTM.
- name: Julian Mazzitelli (Google Summer of Code 2016)
- name: Diego Pereira (Universidade de São Paulo visiting undergraduate 2016)
- name: Elie Gordon (QMUL Masters Project 2015)
- name: Nazrath Nawaz (QMUL Undergraduate Project 2015)
  about: Now PhD student at QMUL (Bessant Lab)
- name: Elena Shanti Franchina (QMUL Undergraduate Project 2015)
- name: Filip Ter (Summer Intern 2015)
  about: EECS undergraduate intern. Now Data Scientist. 
- name: Gideon Pomeranz (QMUL Undergraduate Project 2014)
- name: Monica Dragan (Google Summer of Code 2014)
  now: Engineer at Google, Zurich. 
- name: Lawrence John Maynard
  img: lawrencejmaynard.jpg
  about: BSc student of Genetics at Queen Mary University of London. My interests include systems, programming, bioinformatics, longevity, and ecology.


---

<div class="row">
  <div class="col-sm-12 col-md-12">
    <img src="{{ site.url }}/img/2019_website_pic_iwo_small.jpg" style="max-width:100%;"
    class="img-rounded">
  </div>
  <div class="col-sm-12 col-md-12">
    <p style="padding-top: 8px; text-align: center;">
      Enjoying the sun - May '19
    </p>
  </div>
</div>

<br>
<br>

<div class="row">
    {% for person in page.members %}
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member"  style="padding:0px;">
              <div class="caption">
                  <h3>{{ person.name }}</h3>
                  <img src="{{ site.url }}/img/{{ person.img }}" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>{{ person.about }}</p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
    {% endfor %}
</div>

<hr>

<div class="row">
    <h3>Visitors</h3>
    {% for person in page.occasional_visitors %}
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>{{ person.name }}</h3>
                  <img src="{{ site.url }}/img/{{ person.img }}" align="left" style="margin-right:10px; height:50px;" class="img-rounded">
                  <p>{{ person.about }}</p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        {% cycle 'group2': '', '</div><div class="row">' %}
    {% endfor %}
</div>

<hr>
<div class="row">
    <h3>Alumni</h3>
    {% for person in page.alumni %}
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member"  style="padding:0px;">
              <div class="caption">
                  <h3>{{ person.name }}</h3>
                  <img src="{{ site.url }}/img/{{ person.img }}" align="left" style="margin-right:10px; height:50px;" class="img-rounded">
                  <p>{{ person.about }}</p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        {% cycle 'group1': '', '</div><div class="row">' %}
    {% endfor %}
</div>

<div class="row">
    <h3>Former project students</h3>
    <ul>
        {% for student in page.project_students %}
          <li>{{ student.name }}. {{ student.about }}</li>
        {% endfor %}
    </ul>
</div>
