---
layout: page
title: Team of amazingly wonderful social insect genome hackers.
redirect_from:
  - /team.html

members:
- name: Yannick Wurm
  img: yannickwurm.jpg
  about: "Strong interests in evolutionary genomics, social evolution, modern bioinformatics and genomics approaches, elegant software. [<a href='/cvYannickWurm.pdf'>2-page Curriculum Vitae PDF</a>]. Some <a href='/talks'>invited talks</a>, <a href='/teaching/'>teaching material</a> and <a href='/#publications'>publications</a>."

- name: <a href="/team/priyam">Anurag Priyam</a>
  img: anuragpriyam.jpg
  about: BBSRC-funded creator of a <a href="https://github.com/yeban/afra">tool for crowd-sourcing curation of gene predictions</a>. Created the <a href="http://www.sequenceserver.com">easy BLASTing tool - Sequenceserver</a>.

- name: Rodrigo Pracana
  img: rodrigopracana.jpg
  about: Queen Mary University of London funded doctoral student.

- name: <a href="/team/bmpvieira.html">Bruno Vieira</a>
  img: bmpvieira.jpg
  about: Queen Mary University of London funded doctoral student. Interested in Bioinformatics, Genomics and Web Development. Founder of <a href="http://bionode.io">bionode.io</a> [<a href="http://bmpvieira.com">Website</a>] [<a href="https://github.com/bmpvieira">GitHub</a>] [<a href="http://twitter.com/bmpvieira">Twitter</a>] [<a href="https://medium.com/@bmpvieira">Blog</a>].

- name: <a href='/team/estolle.html'>Eckart Stolle</a>
  img: peopleresized/eckartstolle.jpg
  about: "Postdoc (<a href='http://ec.europa.eu/research/mariecurieactions/' target='_blank'>Marie Curie IEF</a>) interested in the mechanisms underlying evolution of genomes, chromosomes and genes in relation to behavior, castes and sociality.[<a href='https://scholar.google.com/citations?hl=de&user=p9qDNAYAAAAJ&view_op=list_works&pagesize=100' target='_blank'>Google Scholar</a>] [<a href='http://orcid.org/0000-0001-7638-4061' target='_blank'>ORCID</a>]."

- name: Emeline Favreau
  img: emelinefavreau.jpg
  about: <a href="http://www.nerc.ac.uk/">NERC</a>-funded doctoral student from <a href="http://london-nerc-dtp.org/">London DTP</a>. Insect evolution, social adaptation, bioinformatics. [<a href="https://twitter.com/EmelineFavreau">Twitter</a>] [<a href="http://london-nerc-dtp.org/profile/FavreauE/">DTP profile</a>]

- name: Joe Colgan
  img: joecolgan.jpg
  about: "Postdoctoral researcher interested in examining how organisms respond to environmental stressors through the use of genomic, molecular and computational techniques. [<a href='https://scholar.google.com/citations?user=g5BZ5IIAAAAJ&hl=en'>Google Scholar</a>] [<a href='https://www.researchgate.net/profile/Thomas_Colgan'>Researchgate</a>]."

- name: Leandro Rodrigues Santiago
  img: leandrorodrigues.jpg
  about: "MSc Genetics, Universidade de São Paulo (2013), Brazil. Current PhD student at QMUL, funded by Science Without Borders, CNPq, Brazil. Research interests: population genetics, molecular biology, epigenetics and bioinformatics. [<a href='http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4711309D3&idiomaExibicao=2'>Curriculum Vitae</a>]."

- name: Ilya Levantis
  img: ilyalevantis.jpg
  about: "Evolution, social insects, and bioinformatic approaches. Rookie pythonist. Director of <a href='http://biohackspace.org/'>London Biohackspace</a> in spare time. [<a href='https://twitter.com/MouldGod'>Twitter</a>]."

- name: Ismail Moghul
  img: IsmailM.jpg
  about: Bioinformatics Masters Student - Looking to start a PhD in September 2016. Interested in Bioinformatics, Genetics underlying Biomedical Diseases and Neurobiology. [<a href="https://github.com/IsmailM">GitHub</a>]

- name: Carlos Martinez Ruiz
  img: Carlos.jpg
  about: BSc University of Valencia, Spain; MSc Ecology and Evolutionary Biology QMUL. Current PhD student funded by the London NERC DTP. Looking at how genomes deal with evolutionary conflict caused by social polymorphism in ants.[<a href="http://london-nerc-dtp.org/profile/MartinezC/">DTP profile</a>]

- name: Diego Pereira
  img: Diego.jpg
  about: Universidade de São Paulo, Brazil. Visiting undergraduate student at QMUL, funded by Science Without Borders, CNPq, Brazil. Currently working on fire ant genomics. Interested in neurophysiology and chronobiology.

- name: Hiten Chowdhary
  img: Hiten.jpg
  about: Undergradute Student, Mathematics and Computing, IIT Kharagpur. Google Summer of Code 2016 student working on SequenceServer, building a Visualization tool for BLAST results. [<a href="https://github.com/aniarya82">Github</a>] [<a href="https://twitter.com/aniarya82">Twiiter</a>].

- name: Julian Mazzitelli
  img: julian-mazzitelli.jpg
  about: 3rd year undergrad, Bioinformatics and Computational Biology Specialist, University of Toronto. Working with Wurm Lab for <a href="https://summerofcode.withgoogle.com/projects/#6585953724399616">Google Summer of Code Bionode project</a>. Creator of <a href="https://github.com/biorender/biorender">biorender</a>. [<a href="https://github.com/thejmazz">GitHub</a>] [<a href="https://twitter.com/thejmazz">Twitter</a>]

- name: Karina Zile
  img: karina-zile.jpg
  about: <a href="http://lido-dtp.ac.uk/">LIDo</a> collaborative PhD student working on taxonomically restricted genes. Mathematician by training I am interested in answering biological questions using quantitative approaches. [<a href="https://uk.linkedin.com/in/karina-zile-a9116352">LinkedIn</a>]



occasional_visitors:
- name: Natalia Araujo
  img: peopleresized/nataliaaraujo.jpg
  about: PhD student visitor from <a href="http://scholar.google.com/citations?user=DGM0c74AAAAJ&hl=en">Cristina Arias</a>' lab at University of Sao Paolo.

- name: Kishor Dhaygude
  img: kishordhaygude.jpg
  about: <a href="http://www.helsinki.fi/science/ants/Antzz.html">Helsinki team ANTZZ</a>-based occasional visitor to the lab.



project_students:
- name: Elie Gordon (QMUL Masters Project 2015)
- name: Nazrath Nawaz (QMUL Undergraduate Project 2015)
- name: Elena Shanti Franchina (QMUL Undergraduate Project 2015)
- name: Filip Ter (Summer Intern 2015)
- name: Gideon Pomeranz (QMUL Undergraduate Project 2014)
- name: Monica Dragan (Google Summer of Code 2014)

---

<div class="row">
    {% for person in page.members %}
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>{{ person.name }}</h3>
                  <img src="{{ site.url }}/img/{{ person.img }}" align="left" style="margin-right:10px; height:150px;" class="img-rounded">
                  <p>{{ person.about }}</p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        {% cycle 'group1': '', '</div><div class="row">' %}
    {% endfor %}
</div>

<hr>

<div class="row">
    <h3>Visitors</h3>
    {% for person in page.occasional_visitors %}
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail team-member">
              <div class="caption">
                  <h3>{{ person.name }}</h3>
                  <img src="{{ site.url }}/img/{{ person.img }}" align="left" style="margin-right:10px; height:50px;" class="img-rounded">
                  <p>{{ person.about }}</p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
        {% cycle 'group2': '', '</div><div class="row">' %}
    {% endfor %}
</div>

<hr>

<div class="row">
    <h3>Alumni</h3>
    <ul>
        {% for student in page.project_students %}
          <li>{{ student.name }}</li>
        {% endfor %}
    </ul>
</div>
