  <ul class="fa-ul">
    <li><i class="fa-li fa fa-envelope"></i><strong>y.wurm [at] qmul.ac.uk</strong></li>
    <li><i class="fa-li fa fa-twitter"></i><strong><a href="https://twitter.com/yannick__">@yannick__</a></strong></li>
    <li><i class="fa-li fa fa-skype"></i><strong><a href="skype:yannickwurm?add"> yannickwurm </a></strong></li>
    <li><i class="fa-li fa fa-phone"></i><code>+44 20 7882 3049 </code></li>
    <li><i class="fa-li fa fa-map-marker"></i> 5.03A, Fogg Building, Organismal Biology Division, School of Biological
      and Chemical Sciences, Mile End Road, E1 4NS London, UK.  </li>
  </ul>
