<footer class="footer">
  <div class="container">
    <p class="pull-xs-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; Previous Blog Post</a> 	{% endif %} 
      <!-- |  <a href="#">Back to top</a>  | -->
      {% if page.next.url %} 	<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">Next Blog Post &raquo; </a> 	{% endif %} </p>        
    <p>&copy; Wurm lab. All rights reserved. Also check out our <a href="https://sensibee.io">autonomous pollinator surverying device</a>, and our <a href="https://sequenceserver.com">BLAST and genome analysis software</a>.</p>
  </div>
</footer>
