<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
<!--              <div class="nav-collapse collapse">-->
                <ul class="nav">
                    <li class="">
                        <a href="{{ site.url }}"><i class="icon-home icon-white"></i> Research</a>
                    </li>
		    <li class="">
		        <a href="{{ site.url }}#publications"><i class="icon-file icon-white"></i> Publications</a>
                    <li class="">
                        <a href="{{ site.url }}/teaching"><i class="icon-book icon-white"></i> Teaching</a>
                    </li>
                    <li class="">
                        <a href="{{ site.url }}/team.html"><i class="icon-user icon-white"></i> Team</a>
                    </li>
		    
		    <li class="">
                        <a href="{{ site.url }}/pressCoverage"><i class="icon-facetime-video icon-white"></i> Press Coverage</a>
                    </li>
		    <li class="">
                        <a href="{{ site.url }}/news"><i class="icon-pencil icon-white"></i> News</a>
                    </li>
		    <li class="">
                        <a href="{{ site.url}}/tools"><i class="icon-wrench icon-white"></i> Code</a>
                    </li>
                </ul>
<!--            </div> -->
        </div>
    </div>
</div>
