<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="">
                    <a href="{{site.baseurl}}/"><i class="icon-home icon-white"></i> Research</a>
                </li>
                <li class="">
                    <a href="{{site.baseurl}}/publications"><i class="icon-file icon-white"></i> Publications</a>
                </li>
                <li class="">
                    <a href="{{site.baseurl}}/teaching"><i class="icon-book icon-white"></i> Teaching</a>
                </li>
                <li class="">
                    <a href="{{site.baseurl}}/team"><i class="icon-user icon-white"></i> Team</a>
                </li>
                <li class="">
                    <a href="{{site.baseurl}}/news"><i class="icon-pencil icon-white"></i> News</a>
                </li>
                <li class="">
                    <a href="{{site.baseurl}}/tools"><i class="icon-wrench icon-white"></i> Tools</a>
                </li>
            </ul>
        </div>
    </div>
</div>
