<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand d-lg-none" href="{{site.url}}/">WurmLab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class=nav-item><a class="nav-link" href="{{site.url}}/"><i class="fa fa-home"></i> Research </a></li>
        <li class=nav-item><a class="nav-link" href="{{site.url}}/publications/"><i class="fa fa-file"></i> Publications </a></li>
        <li class=nav-item><a class="nav-link" href="{{site.url}}/teaching/"><i class="fa fa-book"></i> Teaching </a></li>
        <li class=nav-item><a class="nav-link" href="{{site.url}}/team/"><i class="fa fa-user"></i> Team </a></li>
        <li class=nav-item><a class="nav-link" href="{{site.url}}/news/"><i class="fa fa-pencil"></i> News </a></li>
        <li class=nav-item><a class="nav-link" href="{{site.url}}/tools/"><i class="fa fa-wrench"></i> Tools </a></li>
        <li class=nav-item><a class="nav-link" href="{{site.url}}/postdoc_phd_positions/"><i class="fa fa-arrow-right"></i> Join </a></li>
        <li class=nav-item><a class="nav-link" href="{{site.url}}/consulting/"><i class="fa fa-question-circle"></i> Consulting </a></li>
        <li class=nav-item><a class="nav-link" href="{{site.url}}/map/"><i class="fa fa-envelope"></i> Contact </a></li>
      </ul>
    </div>
  </div>
</nav>