<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<div class="publication"><ol>
<li value="25">
<b>Social chromosome variants differentially affect queen determination and the survival of workers in the fire ant <em>Solenopsis invicta</em>.</b> (2014). SD Buechel, <span class="label">Y Wurm</span>, L Keller<em> Molecular Ecology</em> 23 (20), 5117-5127</li>
<li value="24">
<b>Convergent genetic architecture underlies social organization in ants.</b> (2014). J Purcell, A Brelsford, <span class="label">Y Wurm</span>, N Perrin, M Chapuisat<em> Current Biology</em> <a href="http://dx.doi.org/10.1016/j.cub.2014.09.071">[DOI]</a>
</li>
	<li value="23">
<b>Discovery and molecular characterization of an ambisense densovirus from South American populations of <em>Solenopsis invicta</em>.</b> (2013) SM Valles, DW Shoemaker, <span class="label">Y Wurm</span>, CA Strong, L Varone, JJ Becnel, et al<em> Biological Control</em> 67, 431-39 <a href="http://dx.doi.org/10.1016/j.biocontrol.2013.09.015">[DOI]</a>
</li>
<li value="22">
<b>Vitellogenin underwent subfunctionalization to acquire caste and behavioral specific expression in the harvester ant <em>Pogonomyrmex barbatus</em>.</b> (2013) M Corona, R Libbrecht, <span class="label">Y Wurm</span>, O Riba-Grognuz, RA Studer, L Keller<em> PLoS Genetics</em> 9 (8), e1003730 <a href="http://dx.doi.org/10.1371/journal.pgen.1003730">[DOI]</a> <a href="/publications/corona2013plosg.pdf">[PDF]</a>
</li>
<li value="21">
<b>Sociogenomics of cooperation and conflict during colony founding in the fire ant <em>Solenopsis invicta</em>.</b> (2013) F Manfredini, O Riba-Grognuz, <span class="label">Y Wurm</span>, L Keller, DW Shoemaker, et al<em> PLoS Genetics</em> 9 (8), e1003633 <a href="http://dx.doi.org/10.1371/journal.pgen.1003633">[DOI]</a>
</li>
<li value="20">
<b>Comparative genomics of chemosensory protein genes reveals rapid evolution and positive selection in ant-specific duplicates.</b> (2013) J Kulmuni, <span class="label">Y Wurm</span>, P Pamilo<em> Heredity</em> 110 (6), 538-547 <a href="http://dx.doi.org/10.1038/hdy.2012.122">[DOI]</a> <a href="/publications/hdy2012122a.pdf">[PDF]</a>
</li>
<li value="19">
<b>A Y-like social chromosome causes alternative colony organization in fire ants.</b> (2013) J Wang*&deg;, <span class="label">Y Wurm</span>*&deg;, M Nipitwattanaphon, O Riba-Grognuz, YC Huang, et al<em> Nature</em> 493 (7434), 664-668 <a href="http://dx.doi.org/10.1038/nature11832">[DOI]</a> <a href="/publications/wangwurm2013socialChromosome.pdf">[PDF]</a> <a href="http://scholar.google.com/scholar?oi=bibs&amp;hl=en&amp;oe=ASCII&amp;cites=16907568776802051404" title="Citations"><span class="badge badge-inverse"><test>23x</test></span></a> <span class="altmetric-embed" data-badge-popover="bottom" data-doi="10.1038/nature11832"></span>
</li>
<li value="18">
<b>Duplication and concerted evolution in a master sex determiner under balancing selection..</b> (2013) E Privman, <span class="label">Y Wurm</span>&deg;, L Keller&deg;<em> Proceedings of the Royal Society B</em> 280, 1471-2954 <a href="http://dx.doi.org/10.1098/rspb.2012.2968">[DOI]</a>
</li>
<li value="17">
<b>Social insect genomes exhibit dramatic evolution in gene composition and regulation while preserving regulatory features linked to sociality.</b>.<em> Genome Research</em> gr.155408.113 <a href="http://dx.doi.org/10.1101/gr.155408.113">[DOI]</a> <a href="http://scholar.google.com/scholar?oi=bibs&amp;hl=en&amp;oe=ASCII&amp;cites=4167921956529189545" title="Citations"><span class="badge badge-inverse"><test>17x</test></span></a> <span class="altmetric-embed" data-badge-popover="bottom" data-doi="10.1101/gr.155408.113"></span>
</li>
<li value="16">
<b>The molecular clockwork of the fire ant <em>Solenopsis invicta</em>.</b> (2012) KK Ingram, A Kutowoi, <span class="label">Y Wurm</span>, DW Shoemaker, R Meier, G Bloch<em> PloS One</em> 7 (11), e45715 <a href="http://dx.doi.org/10.1371/journal.pone.0045715">[DOI]</a>
</li>
<li value="15">
<b>Epigenetics: the making of ant castes.</b> (2012) A Chittka, <span class="label">Y Wurm</span>, L Chittka<em> Current Biology</em> 22 (19), R835-R838 <a href="http://dx.doi.org/10.1016/j.cub.2012.07.045">[DOI]</a>
</li>
<li value="14">
<b>Visualization and quality assessment of <em>de novo</em> genome assemblies.</b> (2011) O Riba-Grognuz&deg;, L Keller, L Falquet, I Xenarios, <span class="label">Y Wurm</span>&deg;<em> Bioinformatics</em> 27 (24), 3425-3426 <a href="http://dx.doi.org/10.1093/bioinformatics/btr569">[DOI]</a> <a href="/publications/Bioinformatics-2011-Riba-Grognuz-3425-6.pdf">[PDF]</a>
</li>
<li value="13">
<b>The genomic impact of 100 million years of social evolution in seven ant species.</b><em> Trends in Genetics</em> 28 (1), 14-21 <a href="http://dx.doi.org/10.1016/j.tig.2011.08.005">[DOI]</a> <a href="/publications/TiG2011.pdf">[PDF]</a> <a href="http://scholar.google.com/scholar?oi=bibs&amp;hl=en&amp;oe=ASCII&amp;cites=8585817748357779618,16883616707761555571" title="Citations"><span class="badge badge-inverse"><test>31x</test></span></a>
</li>
<li value="12">
<b>Relaxed selection is a precursor to the evolution of phenotypic plasticity.</b> (2011) BG Hunt, L Ometto, <span class="label">Y Wurm</span>, DW Shoemaker, VY Soojin, L Keller, et al<em> Proceedings of the National Academy of Sciences of the USA</em> 108 (38), 15936-15941 <a href="http://dx.doi.org/10.1073/pnas.1104825108">[DOI]</a> <a href="/publications/hunt2011phenotypicPlasticity.pdf">[PDF]</a> <a href="http://scholar.google.com/scholar?oi=bibs&amp;hl=en&amp;oe=ASCII&amp;cites=12466021789277295714" title="Citations"><span class="badge badge-inverse"><test>35x</test></span></a> <span class="altmetric-embed" data-badge-popover="bottom" data-doi="10.1073/pnas.1104825108"></span>
</li>
<li value="11">
<b>The genome of the leaf-cutting ant <em>Acromyrmex echinatior</em> suggests key adaptations to advanced social life and fungus farming.</b> (2011) S Nygaard, G Zhang, M Schiott, C Li, <span class="label">Y Wurm</span>, H Hu, J Zhou, L Ji, F Qiu, et al<em> Genome Research</em> 21 (8), 1339-1348 <a href="http://dx.doi.org/10.1101/gr.121392.111">[DOI]</a> <a href="/publications/nygaard2011-acromyrmex-genome.pdf">[PDF]</a> <a href="http://scholar.google.com/scholar?oi=bibs&amp;hl=en&amp;oe=ASCII&amp;cites=12064203307754693270" title="Citations"><span class="badge badge-inverse"><test>70x</test></span></a> <span class="altmetric-embed" data-badge-popover="bottom" data-doi="10.1101/gr.121392.111"></span>
</li>
<li value="10">
<b>The genome of the fire ant <em>Solenopsis invicta</em>.</b> (2011) <span class="label">Y Wurm</span>&deg;, J Wang, O Riba-Grognuz, M Corona, S Nygaard, BG Hunt, et al<em> Proceedings of the National Academy of Sciences of the USA</em> 108 (14), 5679 <a href="http://dx.doi.org/10.1073/pnas.1009690108">[DOI]</a> <a href="/publications/wurm2011fireAntGenome.pdf">[PDF]</a> <a href="http://scholar.google.com/scholar?oi=bibs&amp;hl=en&amp;oe=ASCII&amp;cites=12348417339928582737" title="Citations"><span class="badge badge-inverse"><test>123x</test></span></a> <span class="altmetric-embed" data-badge-popover="bottom" data-doi="10.1073/pnas.1009690108"></span>
</li>
<li value="9">
<b>Odorant binding proteins of the red imported fire ant, <em>Solenopsis invicta</em>: an example of the problems facing the analysis of widely divergent proteins.</b> (2011) D Gotzek&deg;, HM Robertson, <span class="label">Y Wurm</span>, DW Shoemaker<em> PloS One</em> 6 (1), e16289 <a href="http://dx.doi.org/10.1371/journal.pone.0016289">[DOI]</a> <a href="http://scholar.google.com/scholar?oi=bibs&amp;hl=en&amp;oe=ASCII&amp;cites=5412482516901101949,18153182715024447635" title="Citations"><span class="badge badge-inverse"><test>12x</test></span></a>
</li>
<li value="8">
<b>Behind the scenes of an ant genome project.</b> (2011) <span class="label">Y Wurm</span><em> Formosan Entomologist</em> 31 (2), 149-56</li>
<li value="7">
<b>Parasitoid wasps: from natural history to genomic studies.</b> (2010) <span class="label">Y Wurm</span>, L Keller<em> Current Biology</em> 20 (5), R242-R244 <a href="http://dx.doi.org/10.1016/j.cub.2010.01.027">[DOI]</a>
</li>
<li value="6">
<b>Changes in reproductive roles are associated with changes in gene expression in fire ant queens.</b> (2010) <span class="label">Y Wurm</span>&deg;, J Wang, L Keller<em> Molecular Ecology</em> 19 (6), 1200-1211 <a href="http://dx.doi.org/10.1111/j.1365-294X.2010.04561.x">[DOI]</a> <a href="/publications/wurm2010fireAntQueenDealationExpression.pdf">[PDF]</a> <a href="http://scholar.google.com/scholar?oi=bibs&amp;hl=en&amp;oe=ASCII&amp;cites=15213592036556127283" title="Citations"><span class="badge badge-inverse"><test>19x</test></span></a>
</li>
<li value="5">
<b>Fourmidable: a database for ant genomics.</b> (2009) <span class="label">Y Wurm</span>&deg;, P Uva, F Ricci, J Wang, S Jemielity, C Iseli, L Falquet, L Keller<em> BMC Genomics</em> 10 (1), 5 <a href="http://dx.doi.org/10.1186/1471-2164-10-5">[DOI]</a> <a href="/publications/wurm2009antDatabase.pdf">[PDF]</a> <a href="http://scholar.google.com/scholar?oi=bibs&amp;hl=en&amp;oe=ASCII&amp;cites=13666556200731709117" title="Citations"><span class="badge badge-inverse"><test>21x</test></span></a>
</li>
<li value="4">
<b>Sociogenetics of fire ants.</b> (2009) <span class="label">Y Wurm</span><em> PhD Thesis; University of Lausanne</em> Switzerland</li>
<li value="3">
<b>Behavioral Genomics: A, Bee, C, G, T.</b> (2007) <span class="label">Y Wurm</span>, J Wang, L Keller<em> Current Biology</em> 17 (2), R51-R53 <a href="http://dx.doi.org/10.1016/j.cub.2006.12.019">[DOI]</a> <a href="/publications/wurm2007bees.pdf">[PDF]</a>
</li>
<li value="2">
<b>An annotated cDNA library and microarray for large-scale gene-expression studies in the ant <em>Solenopsis invicta</em>.</b> (2007) J Wang, S Jemielity, P Uva, <span class="label">Y Wurm</span>, J Graeff, L Keller<em> Genome Biology</em> 8 (1), R9 <a href="/publications/wang2007fireAntMicroarrays.pdf">[PDF]</a> <a href="http://scholar.google.com/scholar?oi=bibs&amp;hl=en&amp;oe=ASCII&amp;cites=17493787131536243230" title="Citations"><span class="badge badge-inverse"><test>50x</test></span></a>
</li>
<li value="1">
<b>Cryostock a software for cell culture management.</b> (2005) M Zerlin, L Greiffenberg, <span class="label">Y Wurm</span>, I Winkler, D Kreusel, S Toemoe, et al<em> Animal Cell Technology Meets Genomics</em> 397-400 <a href="http://dx.doi.org/10.1007/1-4020-3103-3_79">[DOI]</a>
</li>
</ol></div>
