---
layout: page
title: Public presentations
talks:
- context: "2014 May: Balti and Bioinformatics @ Birmingham"
  label: "balti2014"
  contexturl: "http://pathogenomics.bham.ac.uk/blog/2014/05/balti-and-bioinformatics-27th-may-2014"
  slideshareid: 35172594
  slideshareurl: "https://www.slideshare.net/yannickwurm/2014-0527-opinion-computing-for-genomics-sucks"
  youtubeid: mmMQw2gIozI
  about: "Nick Loman asked me (with 2 days notice!!) to share some thoughts on challenges and opportunities for computing infrastructure for genomics analysis."

- context: "2013 November: A Social Chromosome in the red fire ant @ Sheffield."
  slideshareid: 38133221
  slideshareurl: "http://www.slideshare.net/yannickwurm/2013-1125sheffield"
  about: "Departmental seminar at University of Sheffield on our
  finding that <a href='/publications/wangwurm2013socialChromosome.pdf'>a social chromosome determines social behavior in the red fire ant</a>."

- context: "2013 July: European Society for Evolutionary Biology @ Lisbon"
  contexturl: "http://www.eseb2013.com"
  youtubeid: yAj0BVoXrsc
  about: "Conference talk on our finding that a social chromosome determines social 
  behavior in the red fire ant."

- context: "2013 September: Cream Teas and Bioinformatics  Exeter"
  contexturl: "http://pathogenomics.bham.ac.uk/blog/2013/09/cream-teas-and-bioinformatics-meeting-report-in-pictures-and-slides/"
  slideshareid: 25977819
  slideshareurl: "http://www.slideshare.net/yannickwurm/2013-0905cream-teasexeter"
  about: "Some ant stuff, some bioinformatics stuff." 

- context: "2011 Doctoriales Universit&eacute; de Lausanne - en Fran&cacute;ais"
  youtubeid: AKSMOcw8H-A
  about: "Outreach talk - G&eacute;n&eacute;tique et comportement chez
  les insectes sociaux (in French)." 

---
<div class="row">
  <div class="span11">
<p>A subset of invited talks for which there are things to look
	at.</p>
	<p>Additional documents are available in <a
  href="/teaching/">teaching section</a> of this site and on <a
	href="http://www.slideshare.net/yannickwurm">slideshare</a>.</p>
	</div>
</div>
<div class="row">
  {% for talk in page.talks %}
     <div class="span5">

    {% if talk.label %}
	   <a name="{{talk.label}}"></a>
    {% endif %}
    {% if talk.contexturl %}
      <h3><a href="{{talk.contexturl}}">{{ talk.context }}</a></h3>
    {% else %}
      <h3>{{ talk.context }}</h3>
    {% endif %}
      <p>{{ talk.about }} </p>

	{% if talk.youtubeid %}
	  <iframe id="ytplayer{{talk.youtubeid}}" type="text/html" width="320" height="240"
	src="http://www.youtube.com/embed/{{ talk.youtubeid }}"
	frameborder="0"></iframe>
	{% endif %}
	{% if talk.slideshareid %}
	<iframe
	  src="http://www.slideshare.net/slideshow/embed_code/{{talk.slideshareid}}"
	width="320" height="240" frameborder="0" marginwidth="0"
	marginheight="0" scrolling="no" style="border:1px solid
	#CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen
	webkitallowfullscreen mozallowfullscreen> </iframe>
    {% endif %}
	 
  </div>
  {% cycle '', '</div><div class="row">' %}
 {% endfor %}
</div>



