---
layout: page
title: Methods papers
methodspapers:
 - RADdavey2011.pdf
 - geneannotation.pdf
 - orthologs.pdf
 - rnaseq1.pdf
# - rnaseq2.pdf
 - simulations.pdf
 - assembly.pdf

theme1papers:
 - Andersen2013.pdf
 - Manfredini.pdf
 - MolBiolEvol-2014-Roux-1661-85.pdf
 - Jasper2014mbe.pdf 
# - Feldmeyer2014.pdf
# - MolBiolEvol-2014-Hoffmann-2689-96.pdf
 - Morandin_et_al-2015-Journal_of_Evolutionary_Biology.pdf 
 - Otani_et_al-2014-Molecular_Ecology.pdf

genomedynamics:
 - genomedynamics/kaessman2014ychromosome.pdf
 - genomedynamics/bdelloid2013.pdf
 - genomedynamics/WagnerBeesNatureGenetics2014.pdf
 - genomedynamics/Poelstra2014Science.pdf
# - genomedynamics/Soria-Carrasco2014Science.pdf
 - genomedynamics/mosquito.pdf

---

<div class="row">
  <div class="col-sm-12 col-md-12">
  <h2>Theme 1: Methods for week 2</h2>
  <p>PDFs to papers we're studying:</p>
  <ul>
    {% for file in page.methodspapers %}
      <li><a href="{{file}}">{{ file }}</a></li>
    {% endfor %}
  </ul>

  <h2>Theme 2: Genomics underlying social evolution for week 3</h2>
  <p>PDFs to papers we're studying:</p>
  <ul>
    {% for file in page.theme1papers %}
      <li><a href="theme1/{{file}}">{{ file }}</a></li>
    {% endfor %}
  </ul>

  <h2>Theme 3: Genome dynamics &amp; adaptation for later</h2>
  <p>PDFs to papers we're studying:</p>
  <ul>
    {% for file in page.genomedynamics %}
      <li><a href="{{file}}">{{ file }}</a></li>
    {% endfor %}
  </ul>

  </div>
</div>
