---
layout: page
title: Methods papers
methodspapers:
 - RADdavey2011.pdf
 - geneannotation.pdf
 - orthologs.pdf
 - rnaseq1.pdf
 - rnaseq2.pdf
 - simulations.pdf

theme1papers:
 - Andersen2013.pdf
 - Manfredini.pdf
 - MolBiolEvol-2014-Roux-1661-85.pdf
 - Feldmeyer2014.pdf
 - MolBiolEvol-2014-Hoffmann-2689-96.pdf

genomedynamics:
 - genomedynamics/kaessman2014ychromosome.pdf
 - genomedynamics/bdelloid2013.pdf
 - genomedynamics/WagnerBeesNatureGenetics2014.pdf
 - genomedynamics/Poelstra2014Science.pdf
 - genomedynamics/Soria-Carrasco2014Science.pdf
---

<div class="row">
  <div class="span12">
	<h2>Theme 1: Methods</h2>
	<p>PDFs to papers we're studying (note RNAseq 1 and RNAseq 2 go together):</p>
	<ul>
	  {% for file in page.methodspapers %}
      <li><a href="{{file}}">{{ file }}</a></li>
	  {% endfor %}
	</ul>

	<h2>Theme 2: Genomics underlying social evolution</h2>
	<p>PDFs to papers we're studying:</p>
	<ul>
	  {% for file in page.theme1papers %}
      <li><a href="theme1/{{file}}">{{ file }}</a></li>
	  {% endfor %}
	</ul>

	<h2>Theme 4: Genome dynamics & adaptation</h2>
	<p>PDFs to papers we're studying:</p>
	<ul>
	  {% for file in page.genomedynamics %}
      <li><a href="{{file}}">{{ file }}</a></li>
	  {% endfor %}
	</ul>

  </div>
</div>

