---
layout: page
title: Bioinformatics genome analysis tools
description: Bioinformatics genome analysis tools

tools:
- name        : SequenceServer - implement, visualize &amp; interpret BLAST analyses
  img         : sequenceserver.png
  width       : '120'
  height      : '110'
  url         : https://sequenceserver.com
  about       : "BLAST is the most commonly used bioinformatics tool. But setting it up for private data and using it is counter-intuitive. We developed SequenceServer to make BLAST easy to use. Used in hundreds of laboratories worldwide."
  publication_url : https://doi.org/10.1093/molbev/msz185
  publication_txt : "Sequenceserver: a modern graphical user interface for custom BLAST databases. Mol Biol Evol (2019)."

- name        : CompareGenomeQualities - figure out which genome assembly is the best
  img         : placeholder.gif
  width       : '120'
  height      : '110'
  url         : https://github.com/wurmlab/CompareGenomeQualities
  about       : "CompareGenomeQualities ranks assemblies based on contiguity, completeness, and accuracy. Contiguity is assessed through NG50 metric. Completeness and accuracy are assessed in genic regions using BUSCO and genome-wide using short Illumina reads. The tool is flexible, easy to run, and provides useful output visualisation."
  publication_url : https://doi.org/10.1101/2021.05.28.446135
  publication_txt : "Parameter exploration improves the accuracy of long-read genome assembly."

- name        : Flo - transfer existing gene predictions to a new genome assembly
  img         : placeholder.gif
  width       : '120'
  height      : '110'
  url         : https://github.com/wurmlab/flo
  about       : "Flo enables you to 'lift over' the gene prediction and other annotations from a GFF file to a new genome assembly. This is similar to UCSC LiftOver and NCBI LiftUp, but works with unpublished data on any species. It is multithreaded to ensure that it runs fast."

- name        : GeneValidator - choose the best gene models
  img         : genevalidator.png
  width       : '1279'
  height      : '1913'
  url         : https://wurmlab.github.io/tools/genevalidator
  code        : https://github.com/wurmlab/genevalidator
  about       : Tool to identify problematic gene predictions based on comparison with gene predictions in public databases. Funded by <a href="https://informatics.nescent.org/wiki/Phyloinformatics_Summer_of_Code_2013">NESCent Google Summer of Code 2013</a>. Useful for manual annotation, and for automatically choosing between multiple gene predictions for a given locus.
  publication_url : https://doi.org/10.1093/bioinformatics/btw015
  publication_txt : "GeneValidator: identify problems with protein-coding gene predictions. Bioinformatics (2016)."

- name        : TGNet - evalutate genome quality with an independent transcriptome
  img         : tgnet.jpg
  width       : '500'
  height      : '434'
  url         : https://github.com/ksanao/TGNet
  code        : https://github.com/ksanao/TGNet
  about       : <a href="https://github.com/ksanao/TGNet">TGNet</a> is a <a href="https://www.cytoscape.org">Cytoscape</a>-based tool for visualization and quality assessment of de novo genome assemblies. Specifically it facilitates rapid detection of inconsistencies between a genome assembly and an independently derived transcriptome assembly. Developed by <a href="https://scholar.google.co.uk/citations?user=aovYPpkAAAAJ&hl=en">Oksana Riba-Grognuz</a>. Used for <a href="https://www.pnas.org/content/early/2011/01/24/1009690108">fire ant genome</a> project.
  publication_url : https://bioinformatics.oxfordjournals.org/content/27/24/3425
  publication_txt : "Visualization and quality assessment of <em>de novo</em> genome assemblies. Bioinformatics (2011)."

- name        : Fourmidable / antgenomes.org
  img         : antgenomes.png
  width       : '1039'
  height      : '882'
  url         : https://antgenomes.org
  about       : Community database centralizing genomic and transcriptomic sequence information for ants and related species (e.g., bees and wasps). Provides BLAST search and data download. Updated periodically with latest data and new tools.
  publication_url : /publications/wurm2009antDatabase.pdf
  publication_txt : "Fourmidable: a database for ant genomics. BMC Genomics 10:5 (2009)."

oldtools:
- name        : BioNode
  img         : tools/bionode.png
  width       : '264'
  height      : '300'
  url         : https://bionode.io
  code        : https://bionode.io
  about       : <a href="https://bionode.io">BioNode</a> is <a href="https://nodejs.org">Node.js</a> JavaScript library for <a href="https://bionode.io">client and server side bioinformatics</a>.

- name        : oswitch
  img         : oswitch.png
  width       : '100'
  height      : '90'
  url         : https://github.com/wurmlab/oswitch
  code        : https://github.com/wurmlab/oswitch
  about       : Provides quick and simple Docker based virtual environments on Macs and compute clusters alike for reproducible bioinformatics. Funded by NERC Environmental 'omics (EOS) Cloud. Given improvements to Docker this isn't really needed anymore.

- name        : Afra
  img         : afra.png
  width       : '1017'
  height      : '911'
  url         : https://github.com/wurmlab/afra
  code        : https://github.com/wurmlab/afra
  about       : <a href="https://bbsrc.ac.uk">BBSRC</a>-funded tool for crowd-sourcing curation of gene predictions.
  status      : Beta. Used in Bioinforatics MSc course at QMUL.
  status_icon : fa-warning


---
<h1>Major bioinformatic software tools that we develop include:</h1>
{% for tool in page.tools %}
<div class="row">
    <div class="col-md-2 d-none d-md-block">
        <!-- desktop image -->
            <img src="{{ site.url }}/img/{{ tool.img }}" alt="{{ tool.name }}" height="{{tool.height}}" width="{{tool.width}}" style="height: 125px; width: auto; margin-top: 15px;" class="img-rounded mx-auto d-block">
        </div>
        <div class="col-sm-10 col-md-9">
            <div class="caption">
                <h3><a href="{{ tool.url }}">{{ tool.name }}</a></h3>
                <ul class="fa-ul" style="text-align: justify;">
                    <!-- tool status and about is compulsory -->
                    <li>
                        <i class="fa-li fa fa-info-circle"></i>{{ tool.about }}
                    </li>
                    {% if tool.publication_url %}
                    <li>
                        <i class="fa-li fa fa-file-text"></i><a href="{{ tool.publication_url}}">{{ tool.publication_txt }}</a>
                    </li>
                    {% endif %} {% if tool.code %}
                    <li>
                        <i class="fa-li fa fa-code"></i><a href="{{tool.code}}">{{ tool.code}}</a>
                    </li>
                    {% endif %}
                    {% if tool.status %}
                    <li>
                        <i class="fa-li fa {{tool.status_icon}}"></i>{{ tool.status }}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-12 d-md-none">
            <!-- mobile image -->
            <img src="{{ site.url }}/img/{{ tool.img }}" alt="{{ tool.name }}"  height="{{tool.height}}" width="{{tool.width}}" style="height: 125px; width: auto; margin: 15px auto;" class="img-rounded mx-auto d-block">
        </div>
        <div class="clearfix"></div>
</div>
{% endfor %}

<br/><br/>

<h2>Software development approaches</h2>
<p>We believe in <a href="https://www.nature.com/nature/focus/reproducibility/">Reproducible Research</a> &amp; <a href="https://software.ac.uk">Software Sustainability</a>. When possible we respect style guides and use unit testing &amp; continuous integration. We aim to respect these approaches in our research on specific biological questions and in our tool development. We develop mostly in:</p>
<ul>
    <li>
        <a href="https://rproject.org">R</a> for number crunching.
    </li>
    <li>
        Shell for minimalisting pipelining.
    </li>
    <li>
      Python or <a href="https://bioruby.org">ruby</a> when text needs to be analysed.
    </li>
    <li>
        javascript/html/css for client-side stuff and some <a href="https://bionode.io">bioinformatics analysis pipelines</a>
    </li>
    <li>
        But also use bash/python/perl when convenient or necessary...
    </li>
</ul>
<p>But we love quick and dirty hacks too <i class="fa fa-smile-o"></i>.</p>
<p>A lot of our code is at <a href="https://github.com/wurmlab">https://github.com/wurmlab</a>.</p>

<br/><br/>

<h2>Some tools now have limited relevance</h2>
<p>oSwitch has been superceded by updates in docker. Afra has been used in our MSc course; it is currently somewhat out of sync with main Apollo. </p>
{% for tool in page.oldtools %}
<div class="row">
    <div class="col-md-2 d-none d-md-block">
        <!-- desktop image -->
            <img src="{{ site.url }}/img/{{ tool.img }}" alt="{{ tool.name }}" height="{{tool.height}}" width="{{tool.width}}" style="height: 150px; width: auto; margin-top: 15px;" class="img-rounded mx-auto d-block">
        </div>
        <div class="col-sm-10 col-md-9">
            <div class="caption">
                <h3><a href="{{ tool.url }}">{{ tool.name }}</a></h3>
                <ul class="fa-ul" style="text-align: justify;">
                    <!-- tool status and about is compulsory -->
                    <li>
                        <i class="fa-li fa fa-info-circle"></i>{{ tool.about }}
                    </li>
                    {% if tool.publication_url %}
                    <li>
                        <i class="fa-li fa fa-file-text"></i><a href="{{ tool.publication_url}}">{{ tool.publication_txt }}</a>
                    </li>
                    {% endif %} {% if tool.code %}
                    <li>
                        <i class="fa-li fa fa-code"></i><a href="{{tool.code}}">{{ tool.code}}</a>
                    </li>
                    {% endif %}
                    {% if tool.status %}
                    <li>
                        <i class="fa-li fa {{tool.status_icon}}"></i>{{ tool.status }}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-12 d-md-none">
            <!-- mobile image -->
            <img src="{{ site.url }}/img/{{ tool.img }}" alt="{{ tool.name }}" height="{{tool.height}}" width="{{tool.width}}" style="height: 150px; width: auto; margin-top: 15px;" class="img-rounded mx-auto d-block">
        </div>
        <div class="clearfix"></div>
</div>
{% endfor %}
