<!DOCTYPE html>
{% include head.html %}

<body data-spy="scroll" data-target=".subnav" data-offset="50">
  {% include navigation.html %}
  <!-- Push down container due to fixed navbar -->
  <main class="container">
    <header class="jumbotron">
      <div class="container">
        <p><span class="title">Ants, Bees, Genomes &amp; Evolution</span><span class="subtitle"> @ Queen Mary
            University London</p>
      </div> <!-- container -->
    </header> <!-- jumbotron -->
      {{ content }}
  </main><!-- container-->
  <hr />
  {% include footer.html %}
  <!-- Jquery libraries for additional client side functionalities
         Please make sure there is only one version of jquery installed. -->

  <!--<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{ site.comments.disqus.short_name }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    -->
  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', '{{ site.analytics.google.tracking_id }}']);
    _gaq.push(['_setDomainName', '{{ site.analytics.google.domain }}']);
    _gaq.push(['_setAllowLinker', true]);

    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src="//rawgit.com/bartaz/sandbox.js/master/jquery.highlight.js"></script>
  <script type='text/javascript' src='//d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>