---
title: Publications
layout: page
all_tags:
  - 'all'
  - 'primary research'
  - 'review'
papers:
- title: "Degenerative expansion of a young supergene"
  journal: 'bioRxiv (2018) 326645'
  authors:
  - <b>E Stolle°</b>
  - <b>R Pracana</b>
  - P Howard
  - CI Paris
  - SJ Brown
  - CA Castillo-Carrillo
  - SJ Rossiter
  - <b>Y Wurm°</b>
  showAltmetric: true
  highlight: true
  doi: 10.1101/326645
  pdf: https://www.biorxiv.org/content/early/2018/05/20/326645.full.pdf
  img: /img/2018-05-22-bionano_insertions.png
  img_width: 150
  tag: 'primary research'
- title: "Genes and genomic processes underpinning the social lives of ants"
  journal: "Current Opinion in Insect Science (2018), 25:83-90"
  authors:
  - <b>E Favreau*</b>
  - <b>C Martínez-Ruiz*</b>
  - <b>L Santiago Rodrigues*</b>
  - R L Hammond°
  - <b>Y Wurm°</b>
  doi: 10.1016/j.cois.2017.12.001
  pdf: https://www.sciencedirect.com/science/article/pii/S2214574517301335/pdfft?md5=266ec26e48168ba4ddaf3285e35c4bc1&pid=1-s2.0-S2214574517301335-main.pdf
  showAltmetric: true
  tag: 'review'
- title: "Fire ant social chromosomes: Differences in number, sequence and expression of odorant binding proteins"
  journal: 'Evolution Letters (2017) 1:199-210'
  authors:
  - <b>R Pracana</b>
  - <b>I Levantis</b>
  - <b>C Martínez-Ruiz</b>
  - <b>E Stolle</b>
  - <b>A Priyam</b>
  - <b>Y Wurm°</b>
  citationUrl: ''
  citationCount: '1'
  showAltmetric: true
  highlight: true
  doi: 10.1002/evl3.22
  pdf: http://onlinelibrary.wiley.com/doi/10.1002/evl3.22/pdf
  img: /img/pracana_2017_obp.jpg
  img_width: 150
  tag: 'primary research'
- title: The fire ant social chromosome supergene variant Sb shows low diversity but
    high divergence from SB
  journal: 'Molecular Ecology (2017) 26:2864-79'
  authors:
  - <b>R Pracana</b>
  - <b>A Priyam</b>
  - <b>I Levantis</b>
  - R Nichols
  - <b>Y Wurm°</b>
  citationUrl: ''
  citationCount: '6'
  showAltmetric: true
  highlight: true
  doi: 10.1111/mec.14054
  pdf: http://onlinelibrary.wiley.com/doi/10.1111/mec.14054/pdf
  img: /img/pracana_2017_2.png
  img_width: 230
  tag: 'primary research'
- title: Impact of controlled neonicotinoid exposure on bumblebees in a realistic
    field setting
  journal: 'Journal of Applied Ecology (2016) 54:1199–1208'
  authors:
  - A Arce
  - T David
  - E Randall
  - A Ramos Rodrigues
  - <b>T Colgan</b>
  - <b>Y Wurm</b>
  - R Gill
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=14298470380952669240
  citationCount: '8'
  showAltmetric: true
  doi: 10.1111/1365-2664.12792
  pdf:
  tag: 'primary research'
- title: 'GeneValidator: identify problems with protein-coding gene predictions'
  journal: 'Bioinformatics (2016) 32:1559-61'
  authors:
  - <b>M Drăgan*</b>
  - <b>I Moghul*</b>
  - <b>A Priyam</b>
  - C Bustos
  - <b>Y Wurm°</b>
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=9250379437569563574
  citationCount: '6'
  showAltmetric: true
  highlight: true
  doi: 10.1093/bioinformatics/btw015
  pdf: /publications/draganAndMoghul2016GeneValidator.pdf
  software: https://wurmlab.github.io/tools/genevalidator
  img: /img/GV_graphs.png
  img_width: 140
  tag: 'primary research'
- title: Transcriptomic identification of starfish neuropeptide precursors yields
    new insights into neuropeptide evolution
  journal: 'Open Biology (2016) 6:150224'
  authors:
  - D Semmens
  - O Mirabeau
  - <b>I Moghul</b>
  - M Pancholi
  - <b>Y Wurm</b>
  - M Elphick
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=11682708001997157682
  citationCount: '26'
  showAltmetric: true
  doi: 10.1098/rsob.150224
  pdf: "/publications/semmens_2016_neuropeptide_precursors.pdf"
  tag: 'primary research'
- title: 'Sequenceserver: a modern graphical user interface for custom BLAST databases'
  journal: 'bioRxiv (2015) 033142'
  authors:
  - <b>A Priyam</b>
  - B Woodcroft
  - V Rai
  - A Munagala
  - <b>I Moghul</b>
  - F Ter
  - M Gibbins
  - H Moon
  - G Leonard
  - W Rumpf
  - <b>Y Wurm°</b>
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=1402758369189668961,11563166650580964198
  citationCount: '27'
  showAltmetric: true
  highlight: true
  doi: 10.1101/033142
  pdf: "/publications/Priyam2015CustomBlast.pdf"
  software: http://sequenceserver.com
  img: /img/sequenceserver_2.png
  img_width: 140
  tag: 'primary research'
- title: 'Arthropod genomics beyond fruit flies: bridging the gap between proximate
    and ultimate causation'
  journal: 'Briefings in Functional Genomics (2015) 14:381-3'
  authors:
  - <b>Y Wurm</b>
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=2818198123985232926
  citationCount: '2'
  doi: 10.1093/bfgp/elv034
  pdf:
  img: /img/arthropod_genomics_briefings_cover-big.jpg
  img_width: 50
  tag: 'review'
- title: 'Ant genomics (Hymenoptera: Formicidae): challenges to overcome and opportunities
    to seize'
  journal: 'Myrmecological News (2015) 21:59-72'
  authors: <b>Y Wurm°*</b>, S Nygaard°*
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=14419148419814362571,14156229447475652831
  citationCount: '9'
  highlight: true
  showAltmetric: true
  pdf: "/publications/sannewurm2015myrmecologicalgenomics.pdf"
  tag: 'review'
- title: Desktop as a service supporting environmental'omics
  journal: 'IEEE 11th International Conference on e-Science (2015) 214'
  authors: DCH Wallom, T Booth, A Bowery, B Collier, P Kershaw, <b>A Priyam</b>, <b>Y Wurm</b>, D Field
  citationUrl: ''
  citationCount:
  doi: 10.1109/eScience.2015.53
  pdf: "/publications/wallom_2015_IEEE_cloud_computing.pdf"
  tag: 'primary research'
- title: Avoid having to retract your genomics analysis
  journal: 'The Winnower (2015) 2:e143696.68941'
  authors: <b>Y Wurm</b>
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=2109898900735246417
  citationCount: '3'
  showAltmetric: true
  pdf: "/publications/wurm2015avoidRetractingGenomics.pdf"
  doi: 10.15200/winn.143696.68941
  tag: 'review'
- title: Social chromosome variants differentially affect queen determination and
    the survival of workers in the fire ant <em>Solenopsis invicta</em>
  journal: 'Molecular Ecology (2014) 23:5117-27'
  authors: SD Buechel*, <b>Y Wurm*</b>, L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=3620018976575594062
  citationCount: '7'
  highlight: true
  showAltmetric: true
  pdf: "/publications/Buechel2014MolEcolGp9Pupae.pdf"
  doi: 10.1111/mec.12915
  tag: 'primary research'
- title: Transposable element islands facilitate adaptation to novel environments
    in an invasive species
  journal: 'Nature Communications (2014) 5:5495'
  authors:
  - L Schrader
  - J Kim
  - D Ence
  - A Zimin
  - A Klein
  - K Wyschetzki
  - T Weichselgartner
  - C Kemena
  - J Stökl
  - E Schultner
  - <b>Y Wurm</b>
  - C Smith
  - M Yandell
  - J Heinze
  - J Gadau
  - J Oettler
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=11639991058077155612
  citationCount: '56'
  showAltmetric: true
  doi: 10.1038/ncomms6495
  pdf: "/publications/Transposableelement2014ScraderCardio.pdf"
  tag: 'primary research'
- title: Effects of ploidy and sex-locus genotype on gene expression patterns in the
    fire ant <em>Solenopsis invicta</em>
  journal: 'Proceedings of the Royal Society B: Biological Sciences (2014) 281:20141776'
  authors:
  - M Nipitwattanaphon
  - J Wang
  - K Ross
  - O Riba-Grognuz
  - <b>Y Wurm</b>
  - C Khurewathanakul
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=894700564880939557
  citationCount: '8'
  doi: 10.1098/rspb.2014.1776
  pdf: "/publications/Nipitwattanaphon2014effectsofploidyHaploid.pdf"
  tag: 'primary research'
- title: Convergent genetic architecture underlies social organization in ants
  journal: 'Current Biology (2014) 24:2728-32'
  authors:
  - J Purcell
  - A Brelsford
  - <b>Y Wurm</b>
  - N Perrin
  - M Chapuisat
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=6435126482567707687
  citationCount: '44'
  showAltmetric: true
  highlight: true
  doi: 10.1016/j.cub.2014.09.071
  pdf: "/publications/ConvergentSocialChromosomesFormica2014CurrentBiol.pdf"
  img: /img/supergene_sinvicta_fselisi.png
  img_width: 62
  tag: 'primary research'
- title: Discovery and molecular characterization of an ambisense densovirus from
    South American populations of <em>Solenopsis invicta</em>
  journal: 'Biological Control (2013) 67:431-39'
  authors:
  - S Valles
  - D Shoemaker
  - <b>Y Wurm</b>
  - C Strong
  - L Varone
  - J Becnel
  - P Shirk
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=17230612037649644410
  citationCount: '10'
  doi: 10.1016/j.biocontrol.2013.09.015
  pdf: "/publications/Valles2013SolenopsisDensovirusBiologicalControl.pdf"
  tag: 'primary research'
- title: Vitellogenin underwent subfunctionalization to acquire caste and behavioral
    specific expression in the harvester ant <em>Pogonomyrmex barbatus</em>
  journal: 'PLoS Genetics (2013) 9:e1003730'
  authors:
  - M Corona
  - J Zhang
  - R Libbrecht
  - <b>Y Wurm</b>
  - O Riba-Grognuz
  - R Studer
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=4430849371016808930
  citationCount: '40'
  doi: 10.1371/journal.pgen.1003730
  pdf: "/publications/corona2013plosg.pdf"
  tag: 'primary research'
- title: Sociogenomics of cooperation and conflict during colony founding in the fire
    ant <em>Solenopsis invicta</em>
  journal: 'PLoS Genetics (2013) 9:e1003633'
  authors:
  - F Manfredini
  - N Tsutsui
  - O Riba-Grognuz
  - <b>Y Wurm</b>
  - L Keller
  - D Shoemaker
  - C Grozinger
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=1806702941387198726
  citationCount: '26'
  showAltmetric: true
  doi: 10.1371/journal.pgen.1003633
  pdf: "/publications/manfredini2013plosg.pdf"
  tag: 'primary research'
- title: Comparative genomics of chemosensory protein genes reveals rapid evolution
    and positive selection in ant-specific duplicates
  journal: 'Heredity (2013) 110:538-47'
  authors:
  - J Kulmuni°
  - <b>Y Wurm</b>
  - P Pamilo
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=14119733739462513475
  citationCount: '27'
  doi: 10.1038/hdy.2012.122
  pdf: "/publications/hdy2012122a.pdf"
  tag: 'primary research'
- title: A Y-like social chromosome causes alternative colony organization in fire
    ants
  journal: 'Nature (2013) 493:664-8'
  authors:
  - J Wang*°
  - <b>Y Wurm*°</b>
  - M Nipitwattanaphon
  - O Riba-Grognuz
  - Y Huang
  - D Shoemaker
  - L Keller°
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=16907568776802051404
  citationCount: '138'
  highlight: true
  showAltmetric: true
  doi: 10.1038/nature11832
  pdf: "/publications/wangwurm2013socialChromosome.pdf"
  img: /img/big_vs_little_b.png
  img_width: 140
  tag: 'primary research'
- title: Duplication and concerted evolution in a master sex determiner under balancing
    selection
  journal: 'Proceedings of the Royal Society B: Biological Sciences (2013) 280:20122968'
  authors:
  - E Privman
  - <b>Y Wurm°</b>
  - L Keller°
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=5220131159490079704,4852988017184585360
  citationCount: '15'
  highlight: true
  doi: 10.1098/rspb.2012.2968
  pdf: "/publications/SexlocusDuplicationConcertedEvolution2013Procb.pdf"
  img: /img/transformer_duplicates.png
  img_width: 95
  tag: 'primary research'
- title: Social insect genomes exhibit dramatic evolution in gene composition and
    regulation while preserving regulatory features linked to sociality
  journal: 'Genome Research (2013) gr.155408.113'
  authors:
  - D Simola
  - L Wissler
  - G Donahue
  - R Waterhouse
  - M Helmkampf
  - J Roux
  - S Nygaard
  - K Glastad
  - D Hagen
  - L Viljakainen
  - J Reese
  - B Hunt
  - D Graur
  - E Elhaik
  - E Kriventseva
  - J Wen
  - B Parker
  - E Cash
  - E Privman
  - C Childers
  - M Munoz-torres
  - J Boomsma
  - E Bornberg-bauer
  - C Currie
  - C Elsik
  - G Suen
  - M Goodisman
  - L Keller
  - J Liebig
  - A Rawls
  - D Reinberg
  - C Smith
  - C Smith
  - N Tsutsui
  - <b>Y Wurm</b>
  - E Zdobnov
  - S Berger
  - J Gadau
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=4167921956529189545
  citationCount: '140'
  showAltmetric: true
  doi: 10.1101/gr.155408.113
  pdf: "/publications/socialinsectgenomes2013genomeresearch.pdf"
  tag: 'primary research'
- title: The molecular clockwork of the fire ant <em>Solenopsis invicta</em>
  journal: 'PloS One (2012) 7:e45715'
  authors:
  - K Ingram
  - C Moreau
  - A Kutowoi
  - <b>Y Wurm</b>
  - D Shoemaker
  - R Meier
  - G Bloch
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=5986816837393962393
  citationCount: '30'
  doi: 10.1371/journal.pone.0045715
  pdf: "/publications/ingram2012-fireAntClockGenes.pdf"
  tag: 'primary research'
- title: 'Epigenetics: the making of ant castes'
  journal: 'Current Biology (2012) 22:R835-8'
  authors:
  - A Chittka
  - <b>Y Wurm</b>
  - L Chittka°
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=1880686869041396330
  citationCount: '19'
  doi: 10.1016/j.cub.2012.07.045
  pdf: "/publications/2012CurrBiolAntepigenetics.pdf"
  tag: 'review'
- title: Visualization and quality assessment of <em>de novo</em> genome assemblies
  journal: 'Bioinformatics (2011) 27:3425-6'
  authors:
  - O Riba-Grognuz°
  - L Keller
  - L Falquet
  - I Xenarios
  - <b>Y Wurm°</b>
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=7309994642705770333
  citationCount: '8'
  doi: 10.1093/bioinformatics/btr569
  pdf: "/publications/Bioinformatics-2011-Riba-Grognuz-3425-6.pdf"
  tag: 'primary research'
- title: Relaxed selection is a precursor to the evolution of phenotypic plasticity
  journal: 'Proceedings of the National Academy of Sciences of the USA (2011) 108:15936-41'
  authors:
  - B Hunt
  - L Ometto
  - <b>Y Wurm</b>
  - D Shoemaker
  - S Yi
  - L Keller
  - M Goodisman°
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=12466021789277295714
  citationCount: '89'
  doi: 10.1073/pnas.1104825108
  pdf: "/publications/hunt2011phenotypicPlasticity.pdf"
  tag: 'primary research'
- title: The genome of the leaf-cutting ant <em>Acromyrmex echinatior</em> suggests key adaptations
    to advanced social life and fungus farming
  journal: 'Genome Research (2011) 21:1339-48'
  authors: S Nygaard°, G Zhang, M Schiott, C Li, <b>Y Wurm</b>, H Hu, J Zhou, L Ji, F Qiu,
    M Rasmussen, H Pan, F Hauser, A Krogh, CJP Grimmelikhuijzen, J Wang, JJ Boomsma
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=12064203307754693270
  citationCount: '174'
  showAltmetric: true
  pdf: "/publications/nygaard2011-acromyrmex-genome.pdf"
  doi: 10.1101/gr.121392.111
- title: The genome of the fire ant <em>Solenopsis invicta</em>
  journal: 'Proceedings of the National Academy of Sciences of the USA (2011) 108:5679-84'
  authors:
  - <b>Y Wurm°</b>
  - J Wang
  - O Riba-Grognuz
  - M Corona
  - S Nygaard
  - B Hunt
  - K Ingram
  - L Falquet
  - M Nipitwattanaphon
  - D Gotzek
  - M Dijkstra
  - J Oettler
  - F Comtesse
  - C Shih
  - W Wu
  - C Yang
  - J Thomas
  - E Beaudoing
  - S Pradervand
  - V Flegel
  - E Cook
  - R Fabbretti
  - H Stockinger
  - L Long
  - W Farmerie
  - J Oakey
  - J Boomsma
  - P Pamilo
  - S Yi
  - J Heinze
  - M Goodisman
  - L Farinelli
  - K Harshman
  - N Hulo
  - L Cerutti
  - I Xenarios
  - D Shoemaker
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=12348417339928582737
  citationCount: '253'
  showAltmetric: true
  highlight: true
  doi: 10.1073/pnas.1009690108
  pdf: "/publications/wurm2011fireAntGenome.pdf"
  tag: 'primary research'
- title: 'Odorant binding proteins of the red imported fire ant, <em>Solenopsis invicta</em>:
    an example of the problems facing the analysis of widely divergent proteins'
  journal: 'PloS One (2011) 6:e16289'
  authors:
  - D Gotzek
  - C Moreau
  - H Robertson
  - <b>Y Wurm</b>
  - D Shoemaker
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=5412482516901101949,18153182715024447635
  citationCount: '26'
  doi: 10.1371/journal.pone.0016289
  pdf: "/publications/gotzek2011obps.pdf"
  tag: 'primary research'
- title: The genomic impact of 100 million years of social evolution in seven ant
    species
  journal: 'Trends in Genetics (2011) 28:14-21'
  authors:
  - J Gadau°
  - M Helmkampf
  - S Nygaard
  - J Roux
  - D Simola
  - C Smith
  - G Suen
  - <b>Y Wurm</b>
  - C Smith
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=8585817748357779618
  citationCount: '82'
  doi: 10.1016/j.tig.2011.08.005
  pdf: "/publications/TiG2011.pdf"
  img: /img/tigs-ant-genomes-cover-big.jpg
  img_width: 50
  tag: 'review'
- title: Behind the scenes of an ant genome project
  journal: 'Formosan Entomologist (2011) 31:149-56'
  authors: <b>Y Wurm</b>
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=8076426669169271847
  citationCount: '1'
  pdf: '/publications/wurm2011antGenomeBehindTheScenes.pdf'
  url: 'http://entsocjournal.yabee.com.tw/Preview.aspx?SendDOI=10.6661/TESFE.2011012'
  tag: 'review'
- title: 'Parasitoid wasps: from natural history to genomic studies'
  journal: 'Current Biology (2010) 5:R242-4'
  authors:
  - <b>Y Wurm</b>
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=4427824439022117056
  citationCount: '5'
  doi: 10.1016/j.cub.2010.01.027
  pdf: "/publications/wurm2010wasps.pdf"
  tag: 'review'
- title: Changes in reproductive roles are associated with changes in gene expression
    in fire ant queens
  journal: 'Molecular Ecology (2010) 19:1200-11'
  authors:
  - <b>Y Wurm</b>
  - J Wang
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=15213592036556127283
  citationCount: '32'
  highlight: true
  doi: 10.1111/j.1365-294X.2010.04561.x
  pdf: "/publications/wurm2010fireAntQueenDealationExpression.pdf"
  tag: 'primary research'
- title: 'Fourmidable: a database for ant genomics'
  journal: 'BMC Genomics (2009) 10:5'
  authors:
  - <b>Y Wurm</b>
  - P Uva
  - F Ricci
  - J Wang
  - S Jemielity
  - C Iseli
  - L Falquet
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=13666556200731709117
  citationCount: '36'
  highlight: true
  doi: 10.1186/1471-2164-10-5
  pdf: "/publications/wurm2009antDatabase.pdf"
  tag: 'primary research'
- title: Sociogenetics of fire ants
  journal: PhD Thesis; University of Lausanne, Switzerland (2009)
  authors: <b>Y Wurm</b>
  pdf: "/publications/wurm2009phd-sociogenetics-fire-ants.pdf"
- title: 'Behavioral genomics: A, bee, C, G, T'
  journal: 'Current Biology (2007) 17:R51-3'
  authors:
  - <b>Y Wurm</b>
  - J Wang
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=8964111291624244721
  citationCount: '4'
  doi: 10.1016/j.cub.2006.12.019
  pdf: "/publications/wurm2007bees.pdf"
  tag: 'review'
- title: An annotated cDNA library and microarray for large-scale gene-expression
    studies in the ant <em>Solenopsis invicta</em>
  journal: 'Genome Biology (2007) 8:R9'
  authors: J Wang, S Jemielity, P Uva, <b>Y Wurm</b>, J Graeff, L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=17493787131536243230
  citationCount: '55'
  pdf: "/publications/wang2007fireAntMicroarrays.pdf"
  doi: 10.1186/gb-2007-8-1-r9
  tag: 'primary research'
- title: Cryostock a software for cell culture management
  journal: 'Animal Cell Technology Meets Genomics (2005) 397-400'
  authors:
  - M Zerlin
  - L Greiffenberg
  - <b>Y Wurm</b>
  - I Winkler
  - D Kreusel
  - S Toemoe
  - L Ballabas
  - J Martin
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=11271193541041782490,3808162917858233716
  citationCount: '1'
  doi: 10.1007/1-4020-3103-3_79
  tag: 'primary research'
---

<h3>Publications <small>See also <a href="http://scholar.google.co.uk/citations?user=k6y0EGsAAAAJ">[Google Scholar]</a> &amp; <a href="/tools">[Software Tools]</a></small></h3>

<script type="text/javascript">
  $(function () {
    $('a.filter-by:first').addClass('active');
    $(document).on('click', 'a.filter-by', function (event) {
      var filter_by = $(this).attr('data-filter-by');
      if (filter_by == 'all') {
        $("li.publication").slideDown('fast');
      }
      else {
        $("li.publication[data-tag='" + filter_by + "']").slideDown('fast');
        $("li.publication[data-tag!='" + filter_by + "']").slideUp('fast');
      }
      $('a.filter-by.active').removeClass('active');
      $(this).addClass('active');
      return false;
    });

    var old_width = undefined;
    $('ol img').hover(function () {
      old_width = $(this).css('width');
      $(this).css('width', '80%');
      $(this).css('z-index', 1);
    }, function () {
      $(this).css('width', old_width);
      $(this).css('z-index', 0);
      old_width = undefined;
    });
  });
</script>

<div class="publication">
  <p><strong>Legend:</strong> *Joint first authors, °Corresponding authors, <b>Authors from the Wurmlab</b></p>
  <strong>Categories:</strong>&nbsp;&nbsp;
  {% for tag in page.all_tags %}
  <a href="#" class="filter-by"
    data-filter-by="{{ tag }}">
    <i class="fa fa-tag"></i>
    {{ tag }}
  </a>&nbsp;
  {% endfor %}
  <br>
  <br>
  <ol>
    {% for paper in page.papers %}
      {% if paper.highlight %}
        {% if paper.img %}
          <li value="{{ forloop.rindex }}" style="margin-bottom: 8px; padding: 5px; background: #eee; padding-right:{{ paper.img_width }}px; " class="publication" data-tag="{{ paper.tag }}">
        {% else %}
          <li value="{{ forloop.rindex }}" style="margin-bottom: 8px; padding: 5px; background: #eee" class="publication" data-tag="{{ paper.tag }}">
        {% endif %}
      {% else %}
	 {% if paper.img %}
           <li value="{{ forloop.rindex }}" style="margin-bottom: 3px; padding: 5px; padding-right:{{ paper.img_width }}px;" class="publication" data-tag="{{ paper.tag }}">
	 {% else %}
	   <li value="{{ forloop.rindex }}" style="margin-bottom: 3px; padding: 5px" class="publication" data-tag="{{ paper.tag }}">
	 {% endif %}
      {% endif %}
      {% if paper.img %}
      <a href="http://dx.doi.org/{{ paper.doi }}">
        <img class="img-publication" style="float:right; width:{{ paper.img_width }}px;" src="{{ paper.img }}" alt="{{ paper.title }}"/>
      </a>
      {% endif %}
      {% if paper.doi %}
      <a href="http://dx.doi.org/{{ paper.doi }}">
        <b>{{ paper.title }}</b>
      </a>
      {% elsif paper.url %}
      <a href="{{ paper.url }}">
        <b>{{ paper.title }}</b>
      </a>
      {% else %}
        <b>{{ paper.title }}</b>
      {% endif %}
      {% if paper.software %}
      <a href="{{ paper.software }}">[Website]</a>
      {% endif %}
      {% if paper.pdf %}
      <a href="{{ paper.pdf }}">[PDF]</a>
      {% endif %}
      <br>
      {{ paper.authors | join: ', ' }}
      <br>
      {{ paper.journal }}
      {% if paper.citationCount and paper.citationUrl %}
      <a href="{{ paper.citationUrl }}" title="citations">
        <span class="badge badge-inverse">
          {{ paper.citationCount }}x
        </span>
      </a>
      {% endif %}
      {% if paper.showAltmetric %}
      <span class="altmetric-embed" data-badge-popover="bottom" data-doi="{{ paper.doi }}"></span>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</div>
