---
title: Publications
layout: page
papers:
- title: The fire ant social chromosome supergene variant Sb shows low diversity but
    high divergence from SB
  journal: Molecular Ecology, 2017
  authors:
  - R Pracana
  - A Priyam
  - I Levantis
  - R Nichols
  - Y Wurm
  citationUrl: ''
  citationCount: 
  showAltmetric: true
  highlight: true
  doi: 10.1111/mec.14054
  pdf: 
- title: Impact of controlled neonicotinoid exposure on bumblebees in a realistic
    field setting
  journal: Journal of Applied Ecology, 2016
  authors:
  - A Arce
  - T David
  - E Randall
  - A Ramos rodrigues
  - T Colgan
  - Y Wurm
  - R Gill
  - M Pocock
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=14298470380952669240
  citationCount: 
  showAltmetric: true
  highlight: true
  doi: 10.1111/1365-2664.12792
  pdf: 
- title: 'GeneValidator: identify problems with protein-coding gene predictions'
  journal: Bioinformatics 32 (10), 1559-1561, 2016
  authors:
  - M Drăgan
  - I Moghul
  - A Priyam
  - C Bustos
  - Y Wurm
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=9250379437569563574
  citationCount: '5'
  showAltmetric: true
  highlight: true
  doi: 10.1093/bioinformatics/btw015
  pdf: 
- title: Transcriptomic identification of starfish neuropeptide precursors yields
    new insights into neuropeptide evolution
  journal: Open Biology 6 (2), 150224, 2016
  authors:
  - D Semmens
  - O Mirabeau
  - I Moghul
  - M Pancholi
  - Y Wurm
  - M Elphick
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=11682708001997157682
  citationCount: '12'
  showAltmetric: true
  doi: 10.1098/rsob.150224
  pdf: "/publications/semmens_2016_neuropeptide_precursors.pdf"
- title: 'Sequenceserver: a modern graphical user interface for custom BLAST databases'
  journal: bioRxiv, 033142, 2015
  authors:
  - A Priyam
  - B Woodcroft
  - V Rai
  - A Munagala
  - I Moghul
  - F Ter
  - M Gibbins
  - H Moon
  - G Leonard
  - W Rumpf
  - Y Wurm
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=1402758369189668961,11563166650580964198
  citationCount: '15'
  showAltmetric: true
  highlight: true
  doi: 10.1101/033142
  pdf: "/publications/Priyam2015CustomBlast.pdf"
- title: 'Arthropod genomics beyond fruit flies: bridging the gap between proximate
    and ultimate causation'
  journal: Briefings in Functional Genomics 14 (6), 381-383, 2015
  authors:
  - Y Wurm
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=2818198123985232926
  citationCount: 
  doi: 10.1093/bfgp/elv034
  pdf: 
  img: /img/arthropod_genomics_briefings_cover-small.jpg
- title: 'Ant genomics (Hymenoptera: Formicidae): challenges to overcome and opportunities
    to seize'
  journal: Myrmecological News, 2015
  authors: Y Wurm, S Nygaard
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=14419148419814362571,14156229447475652831
  citationCount: '7'
  showAltmetric: true
  pdf: "/publications/sannewurm2015myrmecologicalgenomics.pdf"
- title: Desktop as a service supporting environmental'omics
  journal: IEEE 11th International Conference on e-Science, 214, 2015
  authors: DCH Wallom, T Booth, A Bowery, B Collier, P Kershaw, A Priyam, Y Wurm,
    et al
  citationUrl: ''
  citationCount: 
  showAltmetric: true
  pdf: 
- title: Avoid having to retract your genomics analysis
  journal: The Winnower 2, e143696.68941, 2015
  authors: Y Wurm
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=2109898900735246417
  citationCount: '3'
  showAltmetric: true
  pdf: "/publications/wurm2015avoidRetractingGenomics.pdf"
- title: Social chromosome variants differentially affect queen determination and
    the survival of workers in the fire ant Solenopsis invicta
  journal: Molecular Ecology 23 (20), 5117-5127, 2014
  authors: SD Buechel, Y Wurm, L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=3620018976575594062
  citationCount: '3'
  showAltmetric: true
  pdf: "/publications/Buechel2014MolEcolGp9Pupae.pdf"
- title: Transposable element islands facilitate adaptation to novel environments
    in an invasive species
  journal: Nature Communications 5, 2014
  authors:
  - L Schrader
  - J Kim
  - D Ence
  - A Zimin
  - A Klein
  - K Wyschetzki
  - T Weichselgartner
  - C Kemena
  - J Stökl
  - E Schultner
  - Y Wurm
  - C Smith
  - M Yandell
  - J Heinze
  - J Gadau
  - J Oettler
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=11639991058077155612
  citationCount: '40'
  showAltmetric: true
  doi: 10.1038/ncomms6495
  pdf: "/publications/Transposableelement2014ScraderCardio.pdf"
- title: Effects of ploidy and sex-locus genotype on gene expression patterns in the
    fire ant Solenopsis invicta
  journal: 'Proceedings of the Royal Society of London B: Biological Sciences 281
    (1797 ..., 2014'
  authors:
  - M Nipitwattanaphon
  - J Wang
  - K Ross
  - O Riba-grognuz
  - Y Wurm
  - C Khurewathanakul
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=894700564880939557
  citationCount: '5'
  showAltmetric: true
  doi: 10.1098/rspb.2014.1776
  pdf: "/publications/Nipitwattanaphon2014effectsofploidyHaploid.pdf"
- title: Convergent genetic architecture underlies social organization in ants
  journal: Current Biology, 2014
  authors:
  - J Purcell
  - A Brelsford
  - Y Wurm
  - N Perrin
  - M Chapuisat
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=6435126482567707687
  citationCount: '34'
  showAltmetric: true
  highlight: true
  doi: 10.1016/j.cub.2014.09.071
  pdf: "/publications/ConvergentSocialChromosomesFormica2014CurrentBiol.pdf"
- title: Discovery and molecular characterization of an ambisense densovirus from
    South American populations of Solenopsis invicta
  journal: Biological Control 67, 431-39, 2013
  authors:
  - S Valles
  - D Shoemaker
  - Y Wurm
  - C Strong
  - L Varone
  - J Becnel
  - P Shirk
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=17230612037649644410
  citationCount: '6'
  doi: 10.1016/j.biocontrol.2013.09.015
  pdf: "/publications/Valles2013SolenopsisDensovirusBiologicalControl.pdf"
- title: Vitellogenin underwent subfunctionalization to acquire caste and behavioral
    specific expression in the harvester ant Pogonomyrmex barbatus
  journal: PLoS Genetics 9 (8), e1003730, 2013
  authors:
  - M Corona
  - J Zhang
  - R Libbrecht
  - Y Wurm
  - O Riba-grognuz
  - R Studer
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=4430849371016808930
  citationCount: '32'
  doi: 10.1371/journal.pgen.1003730
  pdf: "/publications/corona2013plosg.pdf"
- title: Sociogenomics of cooperation and conflict during colony founding in the fire
    ant Solenopsis invicta
  journal: PLoS Genetics 9 (8), e1003633, 2013
  authors:
  - F Manfredini
  - N Tsutsui
  - O Riba-grognuz
  - Y Wurm
  - L Keller
  - D Shoemaker
  - C Grozinger
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=1806702941387198726
  citationCount: '22'
  showAltmetric: true
  doi: 10.1371/journal.pgen.1003633
  pdf: "/publications/manfredini2013plosg.pdf"
- title: Comparative genomics of chemosensory protein genes reveals rapid evolution
    and positive selection in ant-specific duplicates
  journal: Heredity 110 (6), 538-547, 2013
  authors:
  - J Kulmuni
  - Y Wurm
  - P Pamilo
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=14119733739462513475
  citationCount: '23'
  doi: 10.1038/hdy.2012.122
  pdf: "/publications/hdy2012122a.pdf"
- title: A Y-like social chromosome causes alternative colony organization in fire
    ants
  journal: Nature 493 (7434), 664-668, 2013
  authors:
  - J Wang
  - Y Wurm
  - M Nipitwattanaphon
  - O Riba-grognuz
  - Y Huang
  - D Shoemaker
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=16907568776802051404
  citationCount: '105'
  highlight: true
  showAltmetric: true
  doi: 10.1038/nature11832
  pdf: "/publications/wangwurm2013socialChromosome.pdf"
- title: Duplication and concerted evolution in a master sex determiner under balancing
    selection
  journal: Proceedings of the Royal Society B 280, 1471-2954, 2013
  authors:
  - E Privman
  - Y Wurm
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=5220131159490079704,4852988017184585360
  citationCount: '13'
  showAltmetric: true
  doi: 10.1098/rspb.2012.2968
  pdf: "/publications/SexlocusDuplicationConcertedEvolution2013Procb.pdf"
- title: Social insect genomes exhibit dramatic evolution in gene composition and
    regulation while preserving regulatory features linked to sociality
  journal: Genome Research, gr.155408.113, 2013
  authors:
  - D Simola
  - L Wissler
  - G Donahue
  - R Waterhouse
  - M Helmkampf
  - J Roux
  - S Nygaard
  - K Glastad
  - D Hagen
  - L Viljakainen
  - J Reese
  - B Hunt
  - D Graur
  - E Elhaik
  - E Kriventseva
  - J Wen
  - B Parker
  - E Cash
  - E Privman
  - C Childers
  - M Munoz-torres
  - J Boomsma
  - E Bornberg-bauer
  - C Currie
  - C Elsik
  - G Suen
  - M Goodisman
  - L Keller
  - J Liebig
  - A Rawls
  - D Reinberg
  - C Smith
  - C Smith
  - N Tsutsui
  - Y Wurm
  - E Zdobnov
  - S Berger
  - J Gadau
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=4167921956529189545
  citationCount: '115'
  showAltmetric: true
  doi: 10.1101/gr.155408.113
  pdf: "/publications/socialinsectgenomes2013genomeresearch.pdf"
- title: The molecular clockwork of the fire ant Solenopsis invicta
  journal: PloS One 7 (11), e45715, 2012
  authors:
  - K Ingram
  - C Moreau
  - A Kutowoi
  - Y Wurm
  - D Shoemaker
  - R Meier
  - G Bloch
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=5986816837393962393
  citationCount: '25'
  showAltmetric: true
  doi: 10.1371/journal.pone.0045715
  pdf: 
- title: 'Epigenetics: the making of ant castes'
  journal: Current Biology 22 (19), R835-R838, 2012
  authors:
  - A Chittka
  - Y Wurm
  - L Chittka
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=1880686869041396330
  citationCount: '11'
  showAltmetric: true
  doi: 10.1016/j.cub.2012.07.045
  pdf: 
- title: Visualization and quality assessment of de novo genome assemblies
  journal: Bioinformatics 27 (24), 3425-3426, 2011
  authors:
  - O Riba-grognuz
  - L Keller
  - L Falquet
  - I Xenarios
  - Y Wurm
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=7309994642705770333
  citationCount: '6'
  showAltmetric: true
  doi: 10.1093/bioinformatics/btr569
  pdf: "/publications/Bioinformatics-2011-Riba-Grognuz-3425-6.pdf"
- title: Relaxed selection is a precursor to the evolution of phenotypic plasticity
  journal: Proceedings of the National Academy of Sciences of the USA 108 (38), 15936-15941,
    2011
  authors:
  - B Hunt
  - L Ometto
  - Y Wurm
  - D Shoemaker
  - S Yi
  - L Keller
  - M Goodisman
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=12466021789277295714
  citationCount: '78'
  showAltmetric: true
  doi: 10.1073/pnas.1104825108
  pdf: "/publications/hunt2011phenotypicPlasticity.pdf"
- title: The genome of the leaf-cutting ant Acromyrmex echinatior suggests key adaptations
    to advanced social life and fungus farming
  journal: Genome Research 21 (8), 1339-1348, 2011
  authors: S Nygaard, G Zhang, M Schiott, C Li, Y Wurm, H Hu, J Zhou, L Ji, F Qiu,
    et al
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=12064203307754693270
  citationCount: '155'
  showAltmetric: true
  pdf: "/publications/nygaard2011-acromyrmex-genome.pdf"
- title: The genome of the fire ant Solenopsis invicta
  journal: Proceedings of the National Academy of Sciences of the USA 108 (14), 5679,
    2011
  authors:
  - Y Wurm
  - J Wang
  - O Riba-grognuz
  - M Corona
  - S Nygaard
  - B Hunt
  - K Ingram
  - L Falquet
  - M Nipitwattanaphon
  - D Gotzek
  - M Dijkstra
  - J Oettler
  - F Comtesse
  - C Shih
  - W Wu
  - C Yang
  - J Thomas
  - E Beaudoing
  - S Pradervand
  - V Flegel
  - E Cook
  - R Fabbretti
  - H Stockinger
  - L Long
  - W Farmerie
  - J Oakey
  - J Boomsma
  - P Pamilo
  - S Yi
  - J Heinze
  - M Goodisman
  - L Farinelli
  - K Harshman
  - N Hulo
  - L Cerutti
  - I Xenarios
  - D Shoemaker
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=12348417339928582737
  citationCount: '231'
  showAltmetric: true
  highlight: true
  doi: 10.1073/pnas.1009690108
  pdf: "/publications/wurm2011fireAntGenome.pdf"
- title: 'Odorant binding proteins of the red imported fire ant, Solenopsis invicta:
    an example of the problems facing the analysis of widely divergent proteins'
  journal: PloS One 6 (1), e16289, 2011
  authors:
  - D Gotzek
  - C Moreau
  - H Robertson
  - Y Wurm
  - D Shoemaker
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=5412482516901101949,18153182715024447635
  citationCount: '23'
  doi: 10.1371/journal.pone.0016289
  pdf: 
- title: The genomic impact of 100 million years of social evolution in seven ant
    species
  journal: Trends in Genetics 28 (1), 14-21, 2011
  authors:
  - J Gadau
  - M Helmkampf
  - S Nygaard
  - J Roux
  - D Simola
  - C Smith
  - G Suen
  - Y Wurm
  - C Smith
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=8585817748357779618
  citationCount: '70'
  doi: 10.1016/j.tig.2011.08.005
  pdf: "/publications/TiG2011.pdf"
  img: /img/tigs-ant-genomes-cover-small.jpg
- title: Behind the scenes of an ant genome project
  journal: Formosan Entomologist 31 (2), 149-56, 2011
  authors: Y Wurm
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=8076426669169271847
  citationCount: 
  pdf: 
- title: 'Parasitoid wasps: from natural history to genomic studies'
  journal: Current Biology 20 (5), R242-R244, 2010
  authors:
  - Y Wurm
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=4427824439022117056
  citationCount: '4'
  doi: 10.1016/j.cub.2010.01.027
  pdf: 
- title: Changes in reproductive roles are associated with changes in gene expression
    in fire ant queens
  journal: Molecular Ecology 19 (6), 1200-1211, 2010
  authors:
  - Y Wurm
  - J Wang
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=15213592036556127283
  citationCount: '31'
  highlight: true
  doi: 10.1111/j.1365-294X.2010.04561.x
  pdf: "/publications/wurm2010fireAntQueenDealationExpression.pdf"
- title: 'Fourmidable: a database for ant genomics'
  journal: BMC Genomics 10 (1), 5, 2009
  authors:
  - Y Wurm
  - P Uva
  - F Ricci
  - J Wang
  - S Jemielity
  - C Iseli
  - L Falquet
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=13666556200731709117
  citationCount: '34'
  showAltmetric: true
  highlight: true
  doi: 10.1186/1471-2164-10-5
  pdf: "/publications/wurm2009antDatabase.pdf"
- title: Sociogenetics of fire ants
  journal: PhD Thesis; University of Lausanne, Switzerland, 2009
  authors: Y Wurm
  citationUrl: ''
  citationCount: 
  showAltmetric: true
  pdf: 
- title: 'Behavioral genomics: A, bee, C, G, T'
  journal: Current Biology 17 (2), R51-R53, 2007
  authors:
  - Y Wurm
  - J Wang
  - L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=8964111291624244721
  citationCount: '4'
  doi: 10.1016/j.cub.2006.12.019
  pdf: 
- title: An annotated cDNA library and microarray for large-scale gene-expression
    studies in the ant Solenopsis invicta
  journal: Genome Biology 8 (1), R9, 2007
  authors: J Wang, S Jemielity, P Uva, Y Wurm, J Graeff, L Keller
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=17493787131536243230
  citationCount: '55'
  showAltmetric: true
  pdf: "/publications/wang2007fireAntMicroarrays.pdf"
- title: Cryostock a software for cell culture management
  journal: Animal Cell Technology Meets Genomics, 397-400, 2005
  authors:
  - M Zerlin
  - L Greiffenberg
  - Y Wurm
  - I Winkler
  - D Kreusel
  - S Toemoe
  - L Ballabas
  - J Martin
  citationUrl: http://scholar.google.com/scholar?oi=bibs&hl=en&cites=11271193541041782490,3808162917858233716
  citationCount: 
  doi: 10.1007/1-4020-3103-3_79
  pdf: 
---

<h3>Publications <small>See also <a href="http://scholar.google.co.uk/citations?user=k6y0EGsAAAAJ">[Google Scholar]</a> &amp; <a href="/tools">[Software Tools]</a></small></h3>

<div class="publication">
  <ol>
    {% for paper in page.papers %}
      {% if paper.highlight %}
      <li value="{{ forloop.rindex }}" style="margin-bottom: 8px; background: #eee">
      {% else %}
      <li value="{{ forloop.rindex }}" style="margin-bottom: 8px">
      {% endif %}
      {% if paper.img %}
      <img style="float:right; width:150px;" src="{{ paper.img }}"/>
      {% endif %}
      {% if paper.doi %}
      <a href="http://dx.doi.org/{{ paper.doi }}">
        <b>{{ paper.title }}</b>
      </a>
      {% else %}
        <b>{{ paper.title }}</b>
      {% endif %}
      {% if paper.pdf %}
      <a href="{{ paper.pdf }}">[PDF]</a>
      {% endif %}
      <br>
      {{ paper.authors | join: ', ' }}
      <br>
      {{ paper.journal }}
      {% if paper.citationCount and paper.citationUrl %}
      <a href="{{ paper.citationUrl }}" title="citations">
        <span class="badge badge-inverse">
          {{ paper.citationCount }}x
        </span>
      </a>
      {% endif %}
      {% if paper.showAltmetric %}
      <span class="altmetric-embed" data-badge-popover="bottom" data-doi="{{ paper.doi }}"></span>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</div>
